@success-50: hsl(110.00000000000003, 49.999999999999886%, 95.29411764705881%);
@success-100: hsl(114.2857142857143, 46.666666666666615%, 91.17647058823529%);
@success-150: hsl(113.79310344827589, 43.28358208955226%, 86.86274509803921%);
@success-200: hsl(113.51351351351349, 41.57303370786517%, 82.54901960784314%);
@success-250: hsl(113.87755102040818, 37.404580152671755%, 74.31372549019608%);
@success-300: hsl(115.08196721311475, 35.260115606936424%, 66.07843137254902%);
@success-350: hsl(115.83333333333333, 33.33333333333333%, 57.647058823529406%);
@success-400: hsl(117.14285714285714, 33.33333333333333%, 49.411764705882355%);
@success-450: hsl(118.02197802197803, 39.393939393939384%, 45.294117647058826%);
@success-500: hsl(118.18181818181819, 47.826086956521735%, 40.588235294117645%);
@success-550: hsl(119.45454545454545, 60.439560439560445%, 35.686274509803916%);
@success-600: hsl(123.04347826086955, 100%, 27.058823529411764%);
@success-650: hsl(122.10526315789474, 100.00000000000003%, 22.35294117647059%);
@success-700: hsl(121.33333333333333, 99.99999999999999%, 17.647058823529413%);
@success-750: hsl(120.88235294117646, 100.00000000000003%, 13.333333333333334%);
@success-800: hsl(120, 100%, 9.215686274509805%);
@success-850: hsl(120, 100.00000000000003%, 6.666666666666667%);
@success-900: hsl(120, 99.99999999999997%, 4.313725490196078%);
@success-950: hsl(120, 100.00000000000009%, 2.156862745098039%);
@warning-50: hsl(19.999999999999936, 100%, 96.47058823529412%);
@warning-100: hsl(18.181818181818173, 100%, 93.52941176470588%);
@warning-150: hsl(17.500000000000007, 100%, 90.58823529411765%);
@warning-200: hsl(17.704918032786875, 93.84615384615387%, 87.25490196078431%);
@warning-250: hsl(17.77777777777778, 81.81818181818183%, 80.58823529411765%);
@warning-300: hsl(18.000000000000004, 74.62686567164182%, 73.72549019607844%);
@warning-350: hsl(18.151260504201673, 70.41420118343197%, 66.86274509803923%);
@warning-400: hsl(18.260869565217387, 66.99029126213593%, 59.6078431372549%);
@warning-450: hsl(18.648648648648656, 65.48672566371681%, 55.68627450980392%);
@warning-500: hsl(19.245283018867926, 64.37246963562752%, 51.56862745098039%);
@warning-550: hsl(20.462427745664737, 72.38493723849373%, 46.86274509803921%);
@warning-600: hsl(23.880597014925375, 100%, 39.411764705882355%);
@warning-650: hsl(21.818181818181817, 96.49122807017545%, 33.52941176470588%);
@warning-700: hsl(19.849624060150376, 95.68345323741009%, 27.254901960784313%);
@warning-750: hsl(17.884615384615383, 98.11320754716982%, 20.784313725490193%);
@warning-800: hsl(14.399999999999999, 99.99999999999997%, 14.705882352941178%);
@warning-850: hsl(10.526315789473683, 100.00000000000003%, 11.176470588235295%);
@warning-900: hsl(6.153846153846153, 100%, 7.647058823529412%);
@warning-950: hsl(2.608695652173913, 99.99999999999999%, 4.509803921568627%);
@danger-50: hsl(3.7499999999999867, 100%, 96.86274509803921%);
@danger-100: hsl(1.9999999999999925, 100%, 94.11764705882352%);
@danger-150: hsl(0, 100.00000000000007%, 91.5686274509804%);
@danger-200: hsl(0, 93.22033898305082%, 88.4313725490196%);
@danger-250: hsl(359.16666666666663, 76.59574468085107%, 81.56862745098039%);
@danger-300: hsl(358.6363636363636, 67.6923076923077%, 74.50980392156863%);
@danger-350: hsl(357.66990291262135, 61.67664670658684%, 67.25490196078432%);
@danger-400: hsl(355.93220338983053, 57.28155339805825%, 59.6078431372549%);
@danger-450: hsl(354.8031496062992, 55.947136563876654%, 55.490196078431374%);
@danger-500: hsl(353.33333333333337, 54.21686746987952%, 51.17647058823529%);
@danger-550: hsl(351.0204081632653, 62.553191489361694%, 46.07843137254902%);
@danger-600: hsl(346.6265060240964, 82.17821782178218%, 39.6078431372549%);
@danger-650: hsl(346.9014084507042, 86.58536585365854%, 32.15686274509804%);
@danger-700: hsl(347.2881355932203, 90.76923076923077%, 25.49019607843137%);
@danger-750: hsl(348.38709677419354, 95.87628865979383%, 19.019607843137255%);
@danger-800: hsl(351.17647058823525, 100.00000000000003%, 13.333333333333334%);
@danger-850: hsl(354.11764705882354, 100.00000000000003%, 10%);
@danger-900: hsl(356.57142857142856, 100.00000000000004%, 6.862745098039216%);
@danger-950: hsl(357, 100.00000000000007%, 3.9215686274509802%);
@info-50: hsl(218.57142857142856, 46.66666666666668%, 94.11764705882352%);
@info-100: hsl(216.52173913043475, 36.50793650793646%, 87.6470588235294%);
@info-150: hsl(217.49999999999997, 34.04255319148936%, 81.56862745098039%);
@info-200: hsl(218.04878048780492, 32.8%, 75.49019607843137%);
@info-250: hsl(218.8888888888889, 34.61538461538461%, 69.41176470588235%);
@info-300: hsl(218.1818181818182, 35.1063829787234%, 63.13725490196078%);
@info-350: hsl(218.96103896103895, 35.15981735159817%, 57.05882352941176%);
@info-400: hsl(219.31034482758622, 34.93975903614457%, 51.17647058823529%);
@info-450: hsl(219.7826086956522, 37.398373983739845%, 48.23529411764705%);
@info-500: hsl(219.18367346938777, 42.608695652173914%, 45.09803921568628%);
@info-550: hsl(219.41176470588235, 47.66355140186916%, 41.96078431372549%);
@info-600: hsl(219.81308411214954, 53.76884422110552%, 39.01960784313726%);
@info-650: hsl(219.7826086956522, 56.790123456790134%, 31.76470588235294%);
@info-700: hsl(219.74025974025975, 60.629921259842526%, 24.901960784313726%);
@info-750: hsl(220, 66.31578947368422%, 18.627450980392158%);
@info-800: hsl(220.40816326530611, 77.77777777777777%, 12.352941176470589%);
@info-850: hsl(222.6315789473684, 82.6086956521739%, 9.019607843137255%);
@info-900: hsl(228.46153846153845, 86.66666666666664%, 5.88235294117647%);
@info-950: hsl(228, 99.99999999999997%, 2.941176470588235%);
