@primary-lightest: oklch(0.5038341615701663 0.20169915825513662 260.52773388396713);
@primary-lighter: oklch(0.43255566986372795 0.17356468700683536 260.29913478593846);
@primary-light: oklch(0.3612771781572896 0.1454302157585341 260.07053568790974);
@primary: oklch(0.2899986864508513 0.11729574451023282 259.841936589881);
@primary-dark: oklch(0.23924891632195233 0.0997013828336979 259.841936589881);
@primary-darker: oklch(0.18849914619305336 0.08210702115716298 259.841936589881);
@primary-darkest: oklch(0.13774937606415438 0.06451265948062805 259.841936589881);
@secondary-lightest: oklch(0.9816683948128555 0.013540580086234762 227.890755564881);
@secondary-lighter: oklch(0.9633367896257109 0.022914827838243446 227.890755564881);
@secondary-light: oklch(0.9450051844385663 0.032289075590252125 227.890755564881);
@secondary: oklch(0.9266735792514218 0.04166332334226081 227.890755564881);
@secondary-dark: oklch(0.9110280326138016 0.05428316129852959 226.81685418252806);
@secondary-darker: oklch(0.8953824859761815 0.06690299925479838 225.74295280017512);
@secondary-darkest: oklch(0.8797369393385615 0.07952283721106716 224.66905141782217);
@tertiary-lightest: oklch(0.7918467078448571 0.12656541375136143 232.8854457721009);
@tertiary-lighter: oklch(0.719602022988773 0.1609881523353869 242.17574150873253);
@tertiary-light: oklch(0.6473573381326887 0.19541089091941238 251.4660372453642);
@tertiary: oklch(0.5751126532766045 0.2298336295034379 260.75633298199585);
@tertiary-dark: oklch(0.5038341615701663 0.20169915825513662 260.52773388396713);
@tertiary-darker: oklch(0.43255566986372795 0.17356468700683536 260.29913478593846);
@tertiary-darkest: oklch(0.3612771781572896 0.1454302157585341 260.07053568790974);
@accent-lightest: oklch(0.7786513285230947 0.11664880226231811 13.011419492803782);
@accent-lighter: oklch(0.7064193584802577 0.15026753878948967 15.45213465296721);
@accent-light: oklch(0.6341873884374207 0.18388627531666124 17.892849813130642);
@accent: oklch(0.5619554183945837 0.2175050118438328 20.33356497329407);
@accent-dark: oklch(0.5007084126233001 0.1948505033631296 19.53345435711309);
@accent-darker: oklch(0.4394614068520166 0.17219599488242637 18.733343740932114);
@accent-darkest: oklch(0.3782144010807331 0.14954148640172313 17.933233124751133);
@success-lightest: oklch(0.8872601819234176 0.060106868790808454 142.8007543325396);
@success-lighter: oklch(0.7745203638468352 0.1017193164152143 142.8007543325396);
@success-light: oklch(0.6617805457702527 0.14333176403962014 142.8007543325396);
@success: oklch(0.5490407276936703 0.184944211664026 142.8007543325396);
@success-dark: oklch(0.452958600347278 0.1572025799144221 142.8007543325396);
@success-darker: oklch(0.35687647300088565 0.1294609481648182 142.8007543325396);
@success-darkest: oklch(0.2607943456544934 0.1017193164152143 142.8007543325396);
@warning-lightest: oklch(0.8958326078740171 0.05515411503535715 43.99726534950394);
@warning-lighter: oklch(0.7916652157480342 0.09333773313675825 43.99726534950394);
@warning-light: oklch(0.6874978236220514 0.13152135123815933 43.99726534950394);
@warning: oklch(0.5833304314960684 0.16970496933956045 43.99726534950394);
@warning-dark: oklch(0.4812476059842564 0.14424922393862638 43.99726534950394);
@warning-darker: oklch(0.3791647804724445 0.11879347853769232 43.99726534950394);
@warning-darkest: oklch(0.2770819549606325 0.09333773313675825 43.99726534950394);
@error-lightest: oklch(0.8754989819725543 0.06263564750632042 18.079140916466272);
@error-lighter: oklch(0.7509979639451086 0.10599878808761917 18.079140916466272);
@error-light: oklch(0.626496945917663 0.14936192866891793 18.079140916466272);
@error: oklch(0.5019959278902173 0.19272506925021668 18.079140916466272);
@error-dark: oklch(0.4141466405094293 0.16381630886268417 18.079140916466272);
@error-darker: oklch(0.3262973531286413 0.13490754847515168 18.079140916466272);
@error-darkest: oklch(0.2384480657478532 0.10599878808761917 18.079140916466272);
@info-lightest: oklch(0.7885885178062633 0.04006699378315225 262.3514946368672);
@info-lighter: oklch(0.6759330152625114 0.06780568178687302 262.3514946368672);
@info-light: oklch(0.5632775127187595 0.0955443697905938 262.3514946368672);
@info: oklch(0.4506220101750076 0.12328305779431457 262.3514946368672);
@info-dark: oklch(0.37176315839438123 0.10479059912516739 262.3514946368672);
@info-darker: oklch(0.2929043066137549 0.0862981404560202 262.3514946368672);
@info-darkest: oklch(0.2140454548331286 0.06780568178687302 262.3514946368672);
