:root {
  --nsw-grey-50: oklch(0.985025 0 0);
  --nsw-grey-100: oklch(0.9700500000000001 0 0);
  --nsw-grey-150: oklch(0.955075 0 0);
  --nsw-grey-200: oklch(0.9401 0 0);
  --nsw-grey-250: oklch(0.9208500000000001 0.0019500000000000003 327.2175);
  --nsw-grey-300: oklch(0.9016 0.0039 294.435);
  --nsw-grey-350: oklch(0.88235 0.005849999999999999 261.65250000000003);
  --nsw-grey-400: oklch(0.8631 0.0078 228.87);
  --nsw-grey-450: oklch(0.753925 0.00865 229.8075);
  --nsw-grey-500: oklch(0.6447499999999999 0.0095 230.745);
  --nsw-grey-550: oklch(0.535575 0.01035 231.6825);
  --nsw-grey-600: oklch(0.4264 0.0112 232.62);
  --nsw-grey-650: oklch(0.38715 0.011 234.985);
  --nsw-grey-700: oklch(0.3479 0.0108 237.35000000000002);
  --nsw-grey-750: oklch(0.30865 0.0106 239.715);
  --nsw-grey-800: oklch(0.2694 0.0104 242.08);
  --nsw-grey-850: oklch(0.22225499999999998 0.00884 242.08);
  --nsw-grey-900: oklch(0.17511 0.00728 242.08);
  --nsw-grey-950: oklch(0.127965 0.005719999999999999 242.08);
  --nsw-green-50: oklch(0.988875 0.015697500000000003 148.9);
  --nsw-green-100: oklch(0.97775 0.026565000000000002 148.9);
  --nsw-green-150: oklch(0.9666250000000001 0.0374325 148.9);
  --nsw-green-200: oklch(0.9555 0.0483 148.9);
  --nsw-green-250: oklch(0.937925 0.06255 148.8825);
  --nsw-green-300: oklch(0.92035 0.07680000000000001 148.865);
  --nsw-green-350: oklch(0.902775 0.09105 148.84750000000003);
  --nsw-green-400: oklch(0.8852 0.1053 148.83);
  --nsw-green-450: oklch(0.82485 0.12524275 148.6891);
  --nsw-green-500: oklch(0.7645 0.14518550000000002 148.5482);
  --nsw-green-550: oklch(0.70415 0.16512825 148.40730000000002);
  --nsw-green-600: oklch(0.6438 0.185071 148.2664);
  --nsw-green-650: oklch(0.5633250000000001 0.16617825000000003 146.8248);
  --nsw-green-700: oklch(0.48285 0.1472855 145.3832);
  --nsw-green-750: oklch(0.40237500000000004 0.12839275 143.9416);
  --nsw-green-800: oklch(0.3219 0.1095 142.5);
  --nsw-green-850: oklch(0.2655675 0.093075 142.5);
  --nsw-green-900: oklch(0.209235 0.07665 142.5);
  --nsw-green-950: oklch(0.1529025 0.060225 142.5);
  --nsw-teal-50: oklch(0.98175 0.010009999999999998 186.59);
  --nsw-teal-100: oklch(0.9635 0.01694 186.59);
  --nsw-teal-150: oklch(0.94525 0.023870000000000002 186.59);
  --nsw-teal-200: oklch(0.927 0.0308 186.59);
  --nsw-teal-250: oklch(0.9062250000000001 0.042775 191.435);
  --nsw-teal-300: oklch(0.8854500000000001 0.05475000000000001 196.28);
  --nsw-teal-350: oklch(0.864675 0.066725 201.125);
  --nsw-teal-400: oklch(0.8439 0.0787 205.97);
  --nsw-teal-450: oklch(0.772075 0.079075 207.2);
  --nsw-teal-500: oklch(0.70025 0.07944999999999999 208.43);
  --nsw-teal-550: oklch(0.628425 0.079825 209.66);
  --nsw-teal-600: oklch(0.5566 0.0802 210.89);
  --nsw-teal-650: oklch(0.5022249999999999 0.073475 210.7425);
  --nsw-teal-700: oklch(0.44784999999999997 0.06675 210.595);
  --nsw-teal-750: oklch(0.393475 0.060024999999999995 210.4475);
  --nsw-teal-800: oklch(0.3391 0.0533 210.3);
  --nsw-teal-850: oklch(0.2797575 0.045305 210.3);
  --nsw-teal-900: oklch(0.22041500000000003 0.037309999999999996 210.3);
  --nsw-teal-950: oklch(0.1610725 0.029315 210.3);
  --nsw-blue-50: oklch(0.981675 0.013552500000000002 227.89);
  --nsw-blue-100: oklch(0.9633499999999999 0.022935 227.89);
  --nsw-blue-150: oklch(0.945025 0.0323175 227.89);
  --nsw-blue-200: oklch(0.9267 0.0417 227.89);
  --nsw-blue-250: oklch(0.9110499999999999 0.0543 226.8175);
  --nsw-blue-300: oklch(0.8954 0.0669 225.745);
  --nsw-blue-350: oklch(0.87975 0.0795 224.67249999999999);
  --nsw-blue-400: oklch(0.8641 0.0921 223.6);
  --nsw-blue-450: oklch(0.7918499999999999 0.126525 232.89);
  --nsw-blue-500: oklch(0.7196 0.16095 242.18);
  --nsw-blue-550: oklch(0.64735 0.19537500000000002 251.47);
  --nsw-blue-600: oklch(0.5751 0.2298 260.76);
  --nsw-blue-650: oklch(0.503825 0.201675 260.53);
  --nsw-blue-700: oklch(0.43255 0.17355 260.29999999999995);
  --nsw-blue-750: oklch(0.36127499999999996 0.145425 260.07);
  --nsw-blue-800: oklch(0.29 0.1173 259.84);
  --nsw-blue-850: oklch(0.23925 0.099705 259.84);
  --nsw-blue-900: oklch(0.1885 0.08211 259.84);
  --nsw-blue-950: oklch(0.13774999999999998 0.064515 259.84);
  --nsw-purple-50: oklch(0.98055 0.012382500000000001 293.83);
  --nsw-purple-100: oklch(0.9611000000000001 0.020955 293.83);
  --nsw-purple-150: oklch(0.94165 0.0295275 293.83);
  --nsw-purple-200: oklch(0.9222 0.0381 293.83);
  --nsw-purple-250: oklch(0.901375 0.050975 294.15999999999997);
  --nsw-purple-300: oklch(0.8805499999999999 0.06385 294.49);
  --nsw-purple-350: oklch(0.859725 0.076725 294.82);
  --nsw-purple-400: oklch(0.8389 0.0896 295.15);
  --nsw-purple-450: oklch(0.7746 0.12259999999999999 293.98749999999995);
  --nsw-purple-500: oklch(0.7102999999999999 0.1556 292.825);
  --nsw-purple-550: oklch(0.646 0.1886 291.6625);
  --nsw-purple-600: oklch(0.5817 0.2216 290.5);
  --nsw-purple-650: oklch(0.516975 0.203425 293.5575);
  --nsw-purple-700: oklch(0.45225 0.18525 296.615);
  --nsw-purple-750: oklch(0.387525 0.167075 299.6725);
  --nsw-purple-800: oklch(0.3228 0.1489 302.73);
  --nsw-purple-850: oklch(0.26631 0.126565 302.73);
  --nsw-purple-900: oklch(0.20982 0.10423 302.73);
  --nsw-purple-950: oklch(0.15333 0.081895 302.73);
  --nsw-fuchsia-50: oklch(0.98295 0.013909999999999999 339.13);
  --nsw-fuchsia-100: oklch(0.9659 0.02354 339.13);
  --nsw-fuchsia-150: oklch(0.94885 0.03317 339.13);
  --nsw-fuchsia-200: oklch(0.9318 0.0428 339.13);
  --nsw-fuchsia-250: oklch(0.9103 0.05615 337.975);
  --nsw-fuchsia-300: oklch(0.8888 0.06949999999999999 336.82);
  --nsw-fuchsia-350: oklch(0.8673 0.08285 335.66499999999996);
  --nsw-fuchsia-400: oklch(0.8458 0.0962 334.51);
  --nsw-fuchsia-450: oklch(0.784675 0.1357 335.945);
  --nsw-fuchsia-500: oklch(0.7235499999999999 0.1752 337.38);
  --nsw-fuchsia-550: oklch(0.6624249999999999 0.2147 338.815);
  --nsw-fuchsia-600: oklch(0.6013 0.2542 340.25);
  --nsw-fuchsia-650: oklch(0.536125 0.22736275 340.61402499999997);
  --nsw-fuchsia-700: oklch(0.47095 0.2005255 340.97805);
  --nsw-fuchsia-750: oklch(0.405775 0.17368825 341.342075);
  --nsw-fuchsia-800: oklch(0.3406 0.146851 341.7061);
  --nsw-fuchsia-850: oklch(0.280995 0.12482335 341.7061);
  --nsw-fuchsia-900: oklch(0.22139000000000003 0.10279570000000002 341.7061);
  --nsw-fuchsia-950: oklch(0.161785 0.08076805000000001 341.7061);
  --nsw-red-50: oklch(0.986575 0.009035000000000001 6.65);
  --nsw-red-100: oklch(0.97315 0.01529 6.65);
  --nsw-red-150: oklch(0.959725 0.021544999999999998 6.65);
  --nsw-red-200: oklch(0.9463 0.0278 6.65);
  --nsw-red-250: oklch(0.92245 0.0416 7.630000000000001);
  --nsw-red-300: oklch(0.8986000000000001 0.055400000000000005 8.61);
  --nsw-red-350: oklch(0.87475 0.0692 9.59);
  --nsw-red-400: oklch(0.8509 0.083 10.57);
  --nsw-red-450: oklch(0.778675 0.11662499999999999 13.01);
  --nsw-red-500: oklch(0.70645 0.15025 15.45);
  --nsw-red-550: oklch(0.634225 0.183875 17.89);
  --nsw-red-600: oklch(0.562 0.2175 20.33);
  --nsw-red-650: oklch(0.50075 0.19485 19.529999999999998);
  --nsw-red-700: oklch(0.4395 0.17220000000000002 18.729999999999997);
  --nsw-red-750: oklch(0.37825000000000003 0.14955000000000002 17.93);
  --nsw-red-800: oklch(0.317 0.1269 17.13);
  --nsw-red-850: oklch(0.261525 0.10786500000000002 17.13);
  --nsw-red-900: oklch(0.20605 0.08883000000000002 17.13);
  --nsw-red-950: oklch(0.15057500000000001 0.06979500000000001 17.13);
  --nsw-orange-50: oklch(0.98875 0.0082875 63.74);
  --nsw-orange-100: oklch(0.9775 0.014025 63.74);
  --nsw-orange-150: oklch(0.9662499999999999 0.0197625 63.74);
  --nsw-orange-200: oklch(0.955 0.0255 63.74);
  --nsw-orange-250: oklch(0.93675 0.0411 64.9275);
  --nsw-orange-300: oklch(0.9185 0.0567 66.115);
  --nsw-orange-350: oklch(0.90025 0.0723 67.3025);
  --nsw-orange-400: oklch(0.882 0.0879 68.49);
  --nsw-orange-450: oklch(0.8301000000000001 0.114025 61.904999999999994);
  --nsw-orange-500: oklch(0.7782 0.14015 55.31999999999999);
  --nsw-orange-550: oklch(0.7263 0.166275 48.735);
  --nsw-orange-600: oklch(0.6744 0.1924 42.15);
  --nsw-orange-650: oklch(0.61385 0.18414999999999998 39.8675);
  --nsw-orange-700: oklch(0.5533 0.1759 37.585);
  --nsw-orange-750: oklch(0.49274999999999997 0.16765 35.3025);
  --nsw-orange-800: oklch(0.4322 0.1594 33.02);
  --nsw-orange-850: oklch(0.35656499999999997 0.13549 33.02);
  --nsw-orange-900: oklch(0.28093 0.11157999999999998 33.02);
  --nsw-orange-950: oklch(0.205295 0.08767 33.02);
  --nsw-yellow-50: oklch(0.9916 0.016055 93.38);
  --nsw-yellow-100: oklch(0.9832000000000001 0.02717 93.38);
  --nsw-yellow-150: oklch(0.9748 0.038285 93.38);
  --nsw-yellow-200: oklch(0.9664 0.0494 93.38);
  --nsw-yellow-250: oklch(0.9570000000000001 0.0618 93.545);
  --nsw-yellow-300: oklch(0.9476 0.0742 93.71000000000001);
  --nsw-yellow-350: oklch(0.9381999999999999 0.08660000000000001 93.875);
  --nsw-yellow-400: oklch(0.9288 0.099 94.04);
  --nsw-yellow-450: oklch(0.89785 0.11610000000000001 89.92750000000001);
  --nsw-yellow-500: oklch(0.8669 0.13319999999999999 85.815);
  --nsw-yellow-550: oklch(0.83595 0.1503 81.7025);
  --nsw-yellow-600: oklch(0.805 0.1674 77.59);
  --nsw-yellow-650: oklch(0.7105750000000001 0.1477675 77.8622);
  --nsw-yellow-700: oklch(0.61615 0.128135 78.1344);
  --nsw-yellow-750: oklch(0.521725 0.1085025 78.4066);
  --nsw-yellow-800: oklch(0.4273 0.08887 78.6788);
  --nsw-yellow-850: oklch(0.35252249999999996 0.07553950000000001 78.6788);
  --nsw-yellow-900: oklch(0.277745 0.062209 78.6788);
  --nsw-yellow-950: oklch(0.2029675 0.048878500000000005 78.6788);
  --nsw-brown-50: oklch(0.980125 0.006337499999999999 72.57);
  --nsw-brown-100: oklch(0.96025 0.010725 72.57);
  --nsw-brown-150: oklch(0.940375 0.015112500000000001 72.57);
  --nsw-brown-200: oklch(0.9205 0.0195 72.57);
  --nsw-brown-250: oklch(0.908 0.025875 72.04499999999999);
  --nsw-brown-300: oklch(0.8955 0.03225 71.52);
  --nsw-brown-350: oklch(0.883 0.038625 70.995);
  --nsw-brown-400: oklch(0.8705 0.045 70.47);
  --nsw-brown-450: oklch(0.820725 0.054075 70.38);
  --nsw-brown-500: oklch(0.77095 0.06315 70.28999999999999);
  --nsw-brown-550: oklch(0.721175 0.072225 70.2);
  --nsw-brown-600: oklch(0.6714 0.0813 70.11);
  --nsw-brown-650: oklch(0.5939 0.0756 69.3125);
  --nsw-brown-700: oklch(0.5164 0.0699 68.515);
  --nsw-brown-750: oklch(0.4389 0.06420000000000001 67.7175);
  --nsw-brown-800: oklch(0.3614 0.0585 66.92);
  --nsw-brown-850: oklch(0.298155 0.049725000000000005 66.92);
  --nsw-brown-900: oklch(0.23491 0.04095 66.92);
  --nsw-brown-950: oklch(0.171665 0.032175 66.92);
}
