:root {
  --primary-lightest: rgb(12, 90, 212);
  --primary-lighter: rgb(5, 72, 173);
  --primary-light: rgb(2, 54, 136);
  --primary: rgb(0, 38, 100);
  --primary-dark: rgb(0, 26, 77);
  --primary-darker: rgb(0, 16, 55);
  --primary-darkest: rgb(0, 6, 34);
  --secondary-lightest: rgb(240, 251, 255);
  --secondary-lighter: rgb(228, 246, 255);
  --secondary-light: rgb(215, 242, 254);
  --secondary: rgb(203, 237, 253);
  --secondary-dark: rgb(188, 234, 254);
  --secondary-darker: rgb(173, 231, 255);
  --secondary-darkest: rgb(157, 227, 255);
  --tertiary-lightest: rgb(90, 201, 255);
  --tertiary-lighter: rgb(38, 174, 255);
  --tertiary-light: rgb(0, 143, 255);
  --tertiary: rgb(20, 108, 253);
  --tertiary-dark: rgb(12, 90, 212);
  --tertiary-darker: rgb(5, 72, 173);
  --tertiary-darkest: rgb(2, 54, 136);
  --accent-lightest: rgb(248, 151, 162);
  --accent-lighter: rgb(239, 117, 129);
  --accent-light: rgb(228, 79, 95);
  --accent: rgb(215, 21, 58);
  --accent-dark: rgb(185, 14, 50);
  --accent-darker: rgb(155, 7, 42);
  --accent-darkest: rgb(126, 3, 34);
  --success-lightest: rgb(196, 229, 192);
  --success-lighter: rgb(143, 199, 139);
  --success-light: rgb(88, 168, 84);
  --success: rgb(0, 138, 7);
  --success-dark: rgb(0, 106, 0);
  --success-darker: rgb(0, 76, 0);
  --success-darkest: rgb(0, 47, 0);
  --warning-lightest: rgb(253, 210, 192);
  --warning-lighter: rgb(238, 168, 138);
  --warning-light: rgb(221, 125, 83);
  --warning: rgb(201, 80, 0);
  --warning-dark: rgb(157, 58, 0);
  --warning-darker: rgb(114, 38, 0);
  --warning-darkest: rgb(75, 18, 0);
  --error-lightest: rgb(253, 198, 198);
  --error-lighter: rgb(234, 146, 149);
  --error-light: rgb(211, 93, 101);
  --error: rgb(184, 18, 55);
  --error-dark: rgb(143, 3, 39);
  --error-darker: rgb(105, 0, 24);
  --error-darkest: rgb(68, 0, 10);
  --info-lightest: rgb(172, 187, 213);
  --info-lighter: rgb(129, 152, 194);
  --info-light: rgb(87, 117, 174);
  --info: rgb(46, 82, 153);
  --info-dark: rgb(32, 61, 119);
  --info-darker: rgb(19, 41, 86);
  --info-darkest: rgb(7, 23, 56);
}
