$nsw-grey-50: hsl(223.81, 0%, 98.03%);
$nsw-grey-100: hsl(223.81, 0%, 96.06%);
$nsw-grey-150: hsl(223.81, 0%, 94.11%);
$nsw-grey-200: hsl(223.81, 0%, 92.16%);
$nsw-grey-250: hsl(200.05, 4.31%, 89.64%);
$nsw-grey-300: hsl(200.03, 6.92%, 87.13%);
$nsw-grey-350: hsl(200.02, 8.65%, 84.64%);
$nsw-grey-400: hsl(200, 9.89%, 82.16%);
$nsw-grey-450: hsl(200.47, 6.03%, 68.52%);
$nsw-grey-500: hsl(200.94, 4.51%, 55.36%);
$nsw-grey-550: hsl(201.39, 4.91%, 42.76%);
$nsw-grey-600: hsl(201.82, 7.01%, 30.78%);
$nsw-grey-650: hsl(203.03, 7.74%, 26.71%);
$nsw-grey-700: hsl(204.24, 8.68%, 22.73%);
$nsw-grey-750: hsl(205.45, 9.93%, 18.85%);
$nsw-grey-800: hsl(206.67, 11.69%, 15.1%);
$nsw-grey-850: hsl(206.66, 13.37%, 10.7%);
$nsw-grey-900: hsl(206.64, 17.01%, 6.52%);
$nsw-grey-950: hsl(208.68, 23.47%, 2.8%);
$nsw-green-50: hsl(126.92, 92.48%, 97.87%);
$nsw-green-100: hsl(127.18, 81.76%, 95.93%);
$nsw-green-150: hsl(127.45, 77.77%, 93.96%);
$nsw-green-200: hsl(127.74, 75.61%, 91.96%);
$nsw-green-250: hsl(128.12, 71.21%, 88.91%);
$nsw-green-300: hsl(128.55, 68.62%, 85.81%);
$nsw-green-350: hsl(129.02, 66.91%, 82.65%);
$nsw-green-400: hsl(129.57, 65.71%, 79.41%);
$nsw-green-450: hsl(130.48, 54.36%, 70.18%);
$nsw-green-500: hsl(131.91, 48.76%, 60.63%);
$nsw-green-550: hsl(134.54, 46.29%, 50.21%);
$nsw-green-600: hsl(144.35, 100%, 33.33%);
$nsw-green-650: hsl(139.28, 90.98%, 29.11%);
$nsw-green-700: hsl(134.23, 89.08%, 23.77%);
$nsw-green-750: hsl(127.99, 92.45%, 18.06%);
$nsw-green-800: hsl(120, 100%, 12.55%);
$nsw-green-850: hsl(120.41, 100%, 8.99%);
$nsw-green-900: hsl(120.77, 100%, 5.85%);
$nsw-green-950: hsl(121.17, 100%, 3.07%);
$nsw-teal-50: hsl(171.22, 56.11%, 96.73%);
$nsw-teal-100: hsl(171.38, 49.48%, 93.72%);
$nsw-teal-150: hsl(171.55, 47.18%, 90.69%);
$nsw-teal-200: hsl(171.72, 46.03%, 87.65%);
$nsw-teal-250: hsl(176, 49.12%, 83.57%);
$nsw-teal-300: hsl(180.06, 50.95%, 79.35%);
$nsw-teal-350: hsl(183.68, 57.18%, 75.79%);
$nsw-teal-400: hsl(186.74, 63.12%, 72.35%);
$nsw-teal-450: hsl(187.41, 48.14%, 63.4%);
$nsw-teal-500: hsl(188, 39.25%, 54.56%);
$nsw-teal-550: hsl(188.48, 39.69%, 45.78%);
$nsw-teal-600: hsl(188.75, 51.06%, 36.86%);
$nsw-teal-650: hsl(188.61, 53.88%, 31.46%);
$nsw-teal-700: hsl(188.45, 57.8%, 26.19%);
$nsw-teal-750: hsl(188.26, 63.6%, 21.07%);
$nsw-teal-800: hsl(188, 73.17%, 16.08%);
$nsw-teal-850: hsl(187.99, 84.92%, 11.28%);
$nsw-teal-900: hsl(188.56, 96.03%, 7.26%);
$nsw-teal-950: hsl(190.58, 100%, 3.88%);
$nsw-blue-50: hsl(199.45, 100%, 97.34%);
$nsw-blue-100: hsl(199.38, 100%, 94.73%);
$nsw-blue-150: hsl(199.3, 95.85%, 92.09%);
$nsw-blue-200: hsl(199.2, 92.59%, 89.41%);
$nsw-blue-250: hsl(198.5, 96.87%, 86.75%);
$nsw-blue-300: hsl(197.76, 98.99%, 83.89%);
$nsw-blue-350: hsl(197, 99.87%, 80.82%);
$nsw-blue-400: hsl(196.17, 100%, 77.45%);
$nsw-blue-450: hsl(199.74, 99.83%, 67.57%);
$nsw-blue-500: hsl(202.52, 100%, 57.55%);
$nsw-blue-550: hsl(204.76, 100%, 46.97%);
$nsw-blue-600: hsl(217.34, 98.31%, 53.53%);
$nsw-blue-650: hsl(216.77, 89.43%, 43.98%);
$nsw-blue-700: hsl(216.29, 94.14%, 35%);
$nsw-blue-750: hsl(216.37, 97.67%, 26.93%);
$nsw-blue-800: hsl(217.2, 100%, 19.61%);
$nsw-blue-850: hsl(218.95, 100%, 14.93%);
$nsw-blue-900: hsl(222.31, 100%, 10.59%);
$nsw-blue-950: hsl(228.65, 100%, 6.6%);
$nsw-purple-50: hsl(250, 100%, 98.76%);
$nsw-purple-100: hsl(250.23, 100%, 97.09%);
$nsw-purple-150: hsl(250.47, 93.41%, 95.41%);
$nsw-purple-200: hsl(250.71, 87.5%, 93.73%);
$nsw-purple-250: hsl(251.53, 93.83%, 92.23%);
$nsw-purple-300: hsl(252.35, 97.33%, 90.69%);
$nsw-purple-350: hsl(253.2, 99.18%, 89.09%);
$nsw-purple-400: hsl(254.06, 100%, 87.45%);
$nsw-purple-450: hsl(253.9, 94.13%, 82.01%);
$nsw-purple-500: hsl(254.11, 90.14%, 76.39%);
$nsw-purple-550: hsl(254.88, 87.11%, 70.46%);
$nsw-purple-600: hsl(256.54, 84.78%, 63.92%);
$nsw-purple-650: hsl(260.32, 59.17%, 53.67%);
$nsw-purple-700: hsl(264.12, 55.46%, 43.83%);
$nsw-purple-750: hsl(268.02, 62.04%, 34.39%);
$nsw-purple-800: hsl(272.21, 73.64%, 25.29%);
$nsw-purple-850: hsl(272.75, 82.69%, 18.56%);
$nsw-purple-900: hsl(272.45, 92.77%, 12.64%);
$nsw-purple-950: hsl(269.95, 100%, 7.66%);
$nsw-fuchsia-50: hsl(322.15, 100%, 98.49%);
$nsw-fuchsia-100: hsl(321.87, 100%, 96.73%);
$nsw-fuchsia-150: hsl(321.58, 93.98%, 94.94%);
$nsw-fuchsia-200: hsl(321.29, 88.57%, 93.14%);
$nsw-fuchsia-250: hsl(319.35, 84.42%, 90.79%);
$nsw-fuchsia-300: hsl(317.38, 80.69%, 88.38%);
$nsw-fuchsia-350: hsl(315.37, 77.28%, 85.89%);
$nsw-fuchsia-400: hsl(313.33, 74.12%, 83.33%);
$nsw-fuchsia-450: hsl(314.16, 73.33%, 76.26%);
$nsw-fuchsia-500: hsl(314.67, 72.14%, 68.62%);
$nsw-fuchsia-550: hsl(314.69, 71.13%, 59.86%);
$nsw-fuchsia-600: hsl(312.96, 84.68%, 46.08%);
$nsw-fuchsia-650: hsl(313.17, 88.39%, 38.86%);
$nsw-fuchsia-700: hsl(313.38, 92.9%, 31.95%);
$nsw-fuchsia-750: hsl(313.72, 96.8%, 25.62%);
$nsw-fuchsia-800: hsl(314.26, 100%, 19.8%);
$nsw-fuchsia-850: hsl(314.51, 100%, 14.68%);
$nsw-fuchsia-900: hsl(315.33, 100%, 10.15%);
$nsw-fuchsia-950: hsl(317.48, 100%, 6.11%);
$nsw-red-50: hsl(350.85, 100%, 98.97%);
$nsw-red-100: hsl(350.7, 100%, 97.7%);
$nsw-red-150: hsl(350.55, 100%, 96.41%);
$nsw-red-200: hsl(350.4, 100%, 95.1%);
$nsw-red-250: hsl(350.92, 100%, 92.94%);
$nsw-red-300: hsl(351.43, 100%, 90.72%);
$nsw-red-350: hsl(351.92, 100%, 88.44%);
$nsw-red-400: hsl(352.39, 100%, 86.08%);
$nsw-red-450: hsl(353.39, 86.96%, 78.18%);
$nsw-red-500: hsl(353.95, 78.84%, 69.69%);
$nsw-red-550: hsl(353.52, 73.17%, 60.13%);
$nsw-red-600: hsl(348.56, 82.2%, 46.27%);
$nsw-red-650: hsl(347.26, 85.91%, 38.92%);
$nsw-red-700: hsl(345.89, 91%, 31.81%);
$nsw-red-750: hsl(345, 95.87%, 25.31%);
$nsw-red-800: hsl(344.85, 100%, 19.41%);
$nsw-red-850: hsl(346.11, 100%, 14.46%);
$nsw-red-900: hsl(349.15, 100%, 10.03%);
$nsw-red-950: hsl(352.16, 100%, 6.06%);
$nsw-orange-50: hsl(27.87, 100%, 98.29%);
$nsw-orange-100: hsl(27.91, 96.98%, 96.64%);
$nsw-orange-150: hsl(27.96, 91.29%, 94.99%);
$nsw-orange-200: hsl(28, 88.24%, 93.33%);
$nsw-orange-250: hsl(28.75, 96.77%, 90.26%);
$nsw-orange-300: hsl(29.52, 99.73%, 87.03%);
$nsw-orange-350: hsl(30.32, 100%, 83.62%);
$nsw-orange-400: hsl(31.18, 100%, 80%);
$nsw-orange-450: hsl(28.25, 96.8%, 73.02%);
$nsw-orange-500: hsl(25.48, 94.77%, 66.34%);
$nsw-orange-550: hsl(22.75, 92.62%, 59.79%);
$nsw-orange-600: hsl(20, 90%, 52.94%);
$nsw-orange-650: hsl(18.26, 82.63%, 47%);
$nsw-orange-700: hsl(16.43, 86.72%, 40.94%);
$nsw-orange-750: hsl(14.39, 93.12%, 34.79%);
$nsw-orange-800: hsl(10.95, 100%, 29.02%);
$nsw-orange-850: hsl(9.09, 100%, 21.91%);
$nsw-orange-900: hsl(5.29, 100%, 15.58%);
$nsw-orange-950: hsl(2.01, 100%, 9.91%);
$nsw-yellow-50: hsl(46.46, 100%, 97.31%);
$nsw-yellow-100: hsl(46.38, 100%, 95.09%);
$nsw-yellow-150: hsl(46.31, 100%, 92.85%);
$nsw-yellow-200: hsl(46.25, 100%, 90.59%);
$nsw-yellow-250: hsl(46.33, 98.56%, 88%);
$nsw-yellow-300: hsl(46.42, 97.54%, 85.35%);
$nsw-yellow-350: hsl(46.53, 96.75%, 82.62%);
$nsw-yellow-400: hsl(46.67, 96.12%, 79.8%);
$nsw-yellow-450: hsl(43.95, 94.26%, 74.28%);
$nsw-yellow-500: hsl(41.83, 94.17%, 68.55%);
$nsw-yellow-550: hsl(40.46, 94.83%, 62.04%);
$nsw-yellow-600: hsl(41.63, 96.08%, 50%);
$nsw-yellow-650: hsl(41.71, 97.59%, 41.99%);
$nsw-yellow-700: hsl(41.69, 98.72%, 34.44%);
$nsw-yellow-750: hsl(41.53, 99.5%, 27.31%);
$nsw-yellow-800: hsl(41.14, 100%, 20.59%);
$nsw-yellow-850: hsl(40.68, 100%, 15.12%);
$nsw-yellow-900: hsl(39.24, 100%, 10.36%);
$nsw-yellow-950: hsl(35.52, 100%, 6.19%);
$nsw-brown-50: hsl(32.66, 48.5%, 97.07%);
$nsw-brown-100: hsl(32.68, 41.61%, 94.25%);
$nsw-brown-150: hsl(32.7, 39.2%, 91.43%);
$nsw-brown-200: hsl(32.73, 37.93%, 88.63%);
$nsw-brown-250: hsl(32.47, 43.13%, 86.7%);
$nsw-brown-300: hsl(32.23, 47.04%, 84.79%);
$nsw-brown-350: hsl(31.99, 50.11%, 82.88%);
$nsw-brown-400: hsl(31.76, 52.58%, 80.98%);
$nsw-brown-450: hsl(31.83, 46.02%, 74.17%);
$nsw-brown-500: hsl(31.93, 42.16%, 67.4%);
$nsw-brown-550: hsl(32.1, 39.63%, 60.67%);
$nsw-brown-600: hsl(32.36, 37.87%, 53.92%);
$nsw-brown-650: hsl(32.04, 34.94%, 45.3%);
$nsw-brown-700: hsl(31.77, 38.54%, 36.92%);
$nsw-brown-750: hsl(31.59, 43.99%, 28.81%);
$nsw-brown-800: hsl(31.58, 53.27%, 20.98%);
$nsw-brown-850: hsl(31.74, 60.03%, 15.18%);
$nsw-brown-900: hsl(31.73, 72.62%, 9.74%);
$nsw-brown-950: hsl(27.95, 86.11%, 5.27%);
$nsw-aboriginal-grey-50: hsl(35.99, 11.4%, 97.16%);
$nsw-aboriginal-grey-100: hsl(36, 9.67%, 94.37%);
$nsw-aboriginal-grey-150: hsl(36, 9.08%, 91.59%);
$nsw-aboriginal-grey-200: hsl(36, 8.77%, 88.82%);
$nsw-aboriginal-grey-250: hsl(32.79, 8.86%, 86.06%);
$nsw-aboriginal-grey-300: hsl(29.76, 8.93%, 83.34%);
$nsw-aboriginal-grey-350: hsl(26.85, 8.96%, 80.67%);
$nsw-aboriginal-grey-400: hsl(24, 8.93%, 78.04%);
$nsw-aboriginal-grey-450: hsl(23.99, 4.23%, 66.26%);
$nsw-aboriginal-grey-500: hsl(23.97, 2.04%, 54.85%);
$nsw-aboriginal-grey-550: hsl(23.95, 1.01%, 43.86%);
$nsw-aboriginal-grey-600: hsl(223.81, 0%, 33.33%);
$nsw-aboriginal-grey-650: hsl(223.81, 0%, 29.26%);
$nsw-aboriginal-grey-700: hsl(223.81, 0%, 25.29%);
$nsw-aboriginal-grey-750: hsl(223.81, 0%, 21.41%);
$nsw-aboriginal-grey-800: hsl(223.81, 0%, 17.65%);
$nsw-aboriginal-grey-850: hsl(223.81, 0%, 12.7%);
$nsw-aboriginal-grey-900: hsl(223.81, 0%, 8.01%);
$nsw-aboriginal-grey-950: hsl(223.81, 0%, 3.63%);
$nsw-aboriginal-red-50: hsl(0.45, 100%, 98.34%);
$nsw-aboriginal-red-100: hsl(0.31, 100%, 96.31%);
$nsw-aboriginal-red-150: hsl(0.16, 96.42%, 94.24%);
$nsw-aboriginal-red-200: hsl(360, 90%, 92.16%);
$nsw-aboriginal-red-250: hsl(0.23, 91.24%, 90.28%);
$nsw-aboriginal-red-300: hsl(0.45, 91.36%, 88.35%);
$nsw-aboriginal-red-350: hsl(0.65, 90.86%, 86.36%);
$nsw-aboriginal-red-400: hsl(0.83, 90%, 84.31%);
$nsw-aboriginal-red-450: hsl(1.95, 86.73%, 77.32%);
$nsw-aboriginal-red-500: hsl(2.8, 82.84%, 69.6%);
$nsw-aboriginal-red-550: hsl(3.23, 79.15%, 60.92%);
$nsw-aboriginal-red-600: hsl(3.05, 77.87%, 49.61%);
$nsw-aboriginal-red-650: hsl(2.8, 80.26%, 44.7%);
$nsw-aboriginal-red-700: hsl(2.5, 83.29%, 39.86%);
$nsw-aboriginal-red-750: hsl(2.1, 87.31%, 35.06%);
$nsw-aboriginal-red-800: hsl(1.26, 92.26%, 30.39%);
$nsw-aboriginal-red-850: hsl(359.74, 99.82%, 22.68%);
$nsw-aboriginal-red-900: hsl(358.63, 100%, 15.69%);
$nsw-aboriginal-red-950: hsl(357.82, 100%, 9.76%);
$nsw-aboriginal-orange-50: hsl(22.11, 100%, 96.57%);
$nsw-aboriginal-orange-100: hsl(22.19, 93.98%, 93.1%);
$nsw-aboriginal-orange-150: hsl(22.28, 87.05%, 89.61%);
$nsw-aboriginal-orange-200: hsl(22.37, 83.1%, 86.08%);
$nsw-aboriginal-orange-250: hsl(22.42, 84.33%, 82.75%);
$nsw-aboriginal-orange-300: hsl(22.48, 84.74%, 79.37%);
$nsw-aboriginal-orange-350: hsl(22.56, 84.7%, 75.91%);
$nsw-aboriginal-orange-400: hsl(22.69, 84.4%, 72.35%);
$nsw-aboriginal-orange-450: hsl(21.88, 85.61%, 67.77%);
$nsw-aboriginal-orange-500: hsl(21.18, 86.15%, 63.01%);
$nsw-aboriginal-orange-550: hsl(20.78, 86.28%, 57.76%);
$nsw-aboriginal-orange-600: hsl(21.74, 86.51%, 50.59%);
$nsw-aboriginal-orange-650: hsl(20.61, 86.17%, 44.61%);
$nsw-aboriginal-orange-700: hsl(19.56, 89.48%, 38.49%);
$nsw-aboriginal-orange-750: hsl(18.46, 94.45%, 32.41%);
$nsw-aboriginal-orange-800: hsl(16.76, 100%, 26.67%);
$nsw-aboriginal-orange-850: hsl(15.47, 100%, 20.07%);
$nsw-aboriginal-orange-900: hsl(12.18, 100%, 14.2%);
$nsw-aboriginal-orange-950: hsl(6.72, 100%, 8.94%);
$nsw-aboriginal-brown-50: hsl(23.71, 74.46%, 95.12%);
$nsw-aboriginal-brown-100: hsl(23.8, 62.46%, 90.28%);
$nsw-aboriginal-brown-150: hsl(23.89, 58.05%, 85.44%);
$nsw-aboriginal-brown-200: hsl(24, 55.56%, 80.59%);
$nsw-aboriginal-brown-250: hsl(23.94, 55.92%, 75.8%);
$nsw-aboriginal-brown-300: hsl(23.91, 55.95%, 70.98%);
$nsw-aboriginal-brown-350: hsl(23.92, 55.79%, 66.12%);
$nsw-aboriginal-brown-400: hsl(24, 55.56%, 61.18%);
$nsw-aboriginal-brown-450: hsl(22.67, 49.07%, 55.96%);
$nsw-aboriginal-brown-500: hsl(21.29, 43.84%, 50.82%);
$nsw-aboriginal-brown-550: hsl(19.86, 46.79%, 45.77%);
$nsw-aboriginal-brown-600: hsl(18.33, 51.92%, 40.78%);
$nsw-aboriginal-brown-650: hsl(18.72, 56.45%, 34.86%);
$nsw-aboriginal-brown-700: hsl(19.21, 62.79%, 29.04%);
$nsw-aboriginal-brown-750: hsl(19.97, 72.56%, 23.3%);
$nsw-aboriginal-brown-800: hsl(21, 88.89%, 17.65%);
$nsw-aboriginal-brown-850: hsl(19.73, 95.19%, 12.97%);
$nsw-aboriginal-brown-900: hsl(16.27, 100%, 8.82%);
$nsw-aboriginal-brown-950: hsl(10.45, 100%, 5.14%);
$nsw-aboriginal-yellow-50: hsl(45.72, 100%, 96.78%);
$nsw-aboriginal-yellow-100: hsl(45.63, 100%, 94.1%);
$nsw-aboriginal-yellow-150: hsl(45.57, 100%, 91.38%);
$nsw-aboriginal-yellow-200: hsl(45.52, 100%, 88.63%);
$nsw-aboriginal-yellow-250: hsl(45.68, 99.59%, 85.94%);
$nsw-aboriginal-yellow-300: hsl(45.86, 99.15%, 83.16%);
$nsw-aboriginal-yellow-350: hsl(46.07, 98.71%, 80.28%);
$nsw-aboriginal-yellow-400: hsl(46.32, 98.28%, 77.25%);
$nsw-aboriginal-yellow-450: hsl(42.77, 97.91%, 72.64%);
$nsw-aboriginal-yellow-500: hsl(39.92, 98.26%, 68.02%);
$nsw-aboriginal-yellow-550: hsl(37.69, 98.75%, 63.17%);
$nsw-aboriginal-yellow-600: hsl(36.28, 99.08%, 57.45%);
$nsw-aboriginal-yellow-650: hsl(37.45, 77.64%, 49.26%);
$nsw-aboriginal-yellow-700: hsl(38.69, 83.35%, 41.35%);
$nsw-aboriginal-yellow-750: hsl(40.07, 91.76%, 33.66%);
$nsw-aboriginal-yellow-800: hsl(41.17, 100%, 26.86%);
$nsw-aboriginal-yellow-850: hsl(41.1, 100%, 19.64%);
$nsw-aboriginal-yellow-900: hsl(40.13, 100%, 13.55%);
$nsw-aboriginal-yellow-950: hsl(37.35, 100%, 8.33%);
$nsw-aboriginal-green-50: hsl(94.61, 37.03%, 96.34%);
$nsw-aboriginal-green-100: hsl(94.51, 32.21%, 92.9%);
$nsw-aboriginal-green-150: hsl(94.4, 30.49%, 89.48%);
$nsw-aboriginal-green-200: hsl(94.29, 29.58%, 86.08%);
$nsw-aboriginal-green-250: hsl(94.5, 29.43%, 82.62%);
$nsw-aboriginal-green-300: hsl(94.72, 29.3%, 79.18%);
$nsw-aboriginal-green-350: hsl(94.92, 29.18%, 75.76%);
$nsw-aboriginal-green-400: hsl(95.12, 29.08%, 72.35%);
$nsw-aboriginal-green-450: hsl(93.46, 30.08%, 65.88%);
$nsw-aboriginal-green-500: hsl(91.63, 30.85%, 59.29%);
$nsw-aboriginal-green-550: hsl(89.55, 31.61%, 52.5%);
$nsw-aboriginal-green-600: hsl(87.03, 39.39%, 45.29%);
$nsw-aboriginal-green-650: hsl(97.99, 35.67%, 41.28%);
$nsw-aboriginal-green-700: hsl(111.48, 32.13%, 36.95%);
$nsw-aboriginal-green-750: hsl(127.58, 34.41%, 30.98%);
$nsw-aboriginal-green-800: hsl(140.73, 45.45%, 23.73%);
$nsw-aboriginal-green-850: hsl(141.23, 51.5%, 17.2%);
$nsw-aboriginal-green-900: hsl(142.1, 64.01%, 11%);
$nsw-aboriginal-green-950: hsl(139.39, 83.32%, 5.75%);
$nsw-aboriginal-blue-50: hsl(189.24, 57.11%, 95.67%);
$nsw-aboriginal-blue-100: hsl(189.24, 49.64%, 91.57%);
$nsw-aboriginal-blue-150: hsl(189.24, 47.11%, 87.45%);
$nsw-aboriginal-blue-200: hsl(189.23, 45.88%, 83.33%);
$nsw-aboriginal-blue-250: hsl(189.29, 45.53%, 79.28%);
$nsw-aboriginal-blue-300: hsl(189.34, 45.39%, 75.19%);
$nsw-aboriginal-blue-350: hsl(189.36, 45.41%, 71.06%);
$nsw-aboriginal-blue-400: hsl(189.35, 45.56%, 66.86%);
$nsw-aboriginal-blue-450: hsl(192.66, 41.82%, 57.86%);
$nsw-aboriginal-blue-500: hsl(195.5, 40.89%, 49.12%);
$nsw-aboriginal-blue-550: hsl(197.85, 55.74%, 40.47%);
$nsw-aboriginal-blue-600: hsl(199.09, 83.54%, 30.98%);
$nsw-aboriginal-blue-650: hsl(203.84, 73.26%, 29.5%);
$nsw-aboriginal-blue-700: hsl(208.96, 66.46%, 27.09%);
$nsw-aboriginal-blue-750: hsl(214.68, 61.55%, 24.07%);
$nsw-aboriginal-blue-800: hsl(221.31, 58.1%, 20.59%);
$nsw-aboriginal-blue-850: hsl(221.4, 64.27%, 15.08%);
$nsw-aboriginal-blue-900: hsl(222.04, 74.71%, 9.95%);
$nsw-aboriginal-blue-950: hsl(227.14, 84.88%, 5.65%);
$nsw-aboriginal-purple-50: hsl(310.68, 42.61%, 96.28%);
$nsw-aboriginal-purple-100: hsl(310.46, 34.93%, 92.41%);
$nsw-aboriginal-purple-150: hsl(310.24, 32.24%, 88.56%);
$nsw-aboriginal-purple-200: hsl(310, 30.77%, 84.71%);
$nsw-aboriginal-purple-250: hsl(309.75, 30.82%, 80.93%);
$nsw-aboriginal-purple-300: hsl(309.5, 30.72%, 77.16%);
$nsw-aboriginal-purple-350: hsl(309.22, 30.55%, 73.39%);
$nsw-aboriginal-purple-400: hsl(308.94, 30.32%, 69.61%);
$nsw-aboriginal-purple-450: hsl(308.5, 27.72%, 64.31%);
$nsw-aboriginal-purple-500: hsl(308.03, 25.74%, 59.05%);
$nsw-aboriginal-purple-550: hsl(307.53, 24.18%, 53.83%);
$nsw-aboriginal-purple-600: hsl(307, 24.19%, 48.63%);
$nsw-aboriginal-purple-650: hsl(307.56, 25.08%, 41.48%);
$nsw-aboriginal-purple-700: hsl(308.1, 26.24%, 34.55%);
$nsw-aboriginal-purple-750: hsl(308.61, 27.86%, 27.83%);
$nsw-aboriginal-purple-800: hsl(309.09, 30.28%, 21.37%);
$nsw-aboriginal-purple-850: hsl(308.99, 33.57%, 15.63%);
$nsw-aboriginal-purple-900: hsl(308.83, 40.05%, 10.18%);
$nsw-aboriginal-purple-950: hsl(308.92, 54.82%, 5.21%);
