@theme inline {
  --color-ember-50: #22272b;
  --color-ember-100: #1c2a3b;
  --color-ember-150: #1c2a4c;
  --color-ember-200: #25265c;
  --color-ember-250: #331f68;
  --color-ember-300: #441170;
  --color-ember-350: #611175;
  --color-ember-400: #800f73;
  --color-ember-450: #9f096a;
  --color-ember-500: #bc0758;
  --color-ember-550: #d7153a;
  --color-ember-600: #de2b34;
  --color-ember-650: #e43b2e;
  --color-ember-700: #e94927;
  --color-ember-750: #ee5621;
  --color-ember-800: #f3631b;
  --color-ember-850: #f77300;
  --color-ember-900: #f98200;
  --color-ember-950: #fb9100;
  --color-ember-1000: #fba000;
  --color-ember-1050: #faaf05;
  --color-earthfire-50: #523719;
  --color-earthfire-100: #5f360d;
  --color-earthfire-150: #6c3300;
  --color-earthfire-200: #7a2e00;
  --color-earthfire-250: #872600;
  --color-earthfire-300: #941b00;
  --color-earthfire-350: #a72a05;
  --color-earthfire-400: #b9380b;
  --color-earthfire-450: #cc4611;
  --color-earthfire-500: #e05516;
  --color-earthfire-550: #f3631b;
  --color-earthfire-600: #f77300;
  --color-earthfire-650: #f98200;
  --color-earthfire-700: #fb9100;
  --color-earthfire-750: #fba000;
  --color-earthfire-800: #faaf05;
  --color-earthfire-850: #fabb3b;
  --color-earthfire-900: #fac757;
  --color-earthfire-950: #fbd26f;
  --color-earthfire-1000: #fcdd85;
  --color-earthfire-1050: #fde79a;
  --color-fuchsia-heat-50: #65004d;
  --color-fuchsia-heat-100: #7b025f;
  --color-fuchsia-heat-150: #920472;
  --color-fuchsia-heat-200: #a90885;
  --color-fuchsia-heat-250: #c10d99;
  --color-fuchsia-heat-300: #d912ae;
  --color-fuchsia-heat-350: #e61e92;
  --color-fuchsia-heat-400: #f02d77;
  --color-fuchsia-heat-450: #f53e5b;
  --color-fuchsia-heat-500: #f6503e;
  --color-fuchsia-heat-550: #f3631b;
  --color-fuchsia-heat-600: #f77300;
  --color-fuchsia-heat-650: #f98200;
  --color-fuchsia-heat-700: #fb9100;
  --color-fuchsia-heat-750: #fba000;
  --color-fuchsia-heat-800: #faaf05;
  --color-fuchsia-heat-850: #fabb3b;
  --color-fuchsia-heat-900: #fac757;
  --color-fuchsia-heat-950: #fbd26f;
  --color-fuchsia-heat-1000: #fcdd85;
  --color-fuchsia-heat-1050: #fde79a;
  --color-polar-glow-50: #002664;
  --color-polar-glow-100: #013380;
  --color-polar-glow-150: #03419e;
  --color-polar-glow-200: #074fbd;
  --color-polar-glow-250: #0d5ddc;
  --color-polar-glow-300: #146cfd;
  --color-polar-glow-350: #0077e7;
  --color-polar-glow-400: #007ed0;
  --color-polar-glow-450: #0082b8;
  --color-polar-glow-500: #0082a2;
  --color-polar-glow-550: #2e808e;
  --color-polar-glow-600: #42929f;
  --color-polar-glow-650: #54a3b0;
  --color-polar-glow-700: #67b6c1;
  --color-polar-glow-750: #79c8d3;
  --color-polar-glow-800: #8cdbe5;
  --color-polar-glow-850: #9adfe5;
  --color-polar-glow-900: #a9e3e5;
  --color-polar-glow-950: #b6e7e6;
  --color-polar-glow-1000: #c4ebe7;
  --color-polar-glow-1050: #d1eeea;
  --color-glacier-pool-50: #441170;
  --color-glacier-pool-100: #511e88;
  --color-glacier-pool-150: #5d2ba1;
  --color-glacier-pool-200: #6a39bb;
  --color-glacier-pool-250: #7546d6;
  --color-glacier-pool-300: #8055f1;
  --color-glacier-pool-350: #7359f6;
  --color-glacier-pool-400: #645efa;
  --color-glacier-pool-450: #5362fc;
  --color-glacier-pool-500: #3c67fd;
  --color-glacier-pool-550: #146cfd;
  --color-glacier-pool-600: #0089ff;
  --color-glacier-pool-650: #0ca2ff;
  --color-glacier-pool-700: #3bb9ff;
  --color-glacier-pool-750: #64cdff;
  --color-glacier-pool-800: #8ce0ff;
  --color-glacier-pool-850: #9ae3ff;
  --color-glacier-pool-900: #a7e5ff;
  --color-glacier-pool-950: #b3e8fe;
  --color-glacier-pool-1000: #bfeafe;
  --color-glacier-pool-1050: #cbedfd;
  --color-deep-current-50: #0b3f47;
  --color-deep-current-100: #124b54;
  --color-deep-current-150: #195862;
  --color-deep-current-200: #206571;
  --color-deep-current-250: #27727f;
  --color-deep-current-300: #2e808e;
  --color-deep-current-350: #0082a2;
  --color-deep-current-400: #0082b8;
  --color-deep-current-450: #007ed0;
  --color-deep-current-500: #0077e7;
  --color-deep-current-550: #146cfd;
  --color-deep-current-600: #0089ff;
  --color-deep-current-650: #0ca2ff;
  --color-deep-current-700: #3bb9ff;
  --color-deep-current-750: #64cdff;
  --color-deep-current-800: #8ce0ff;
  --color-deep-current-850: #9ae3ff;
  --color-deep-current-900: #a7e5ff;
  --color-deep-current-950: #b3e8fe;
  --color-deep-current-1000: #bfeafe;
  --color-deep-current-1050: #cbedfd;
  --color-blue-red-50: #002664;
  --color-blue-red-100: #013380;
  --color-blue-red-150: #03419e;
  --color-blue-red-200: #074fbd;
  --color-blue-red-250: #0d5ddc;
  --color-blue-red-300: #146cfd;
  --color-blue-red-350: #4c8eff;
  --color-blue-red-400: #79acff;
  --color-blue-red-450: #a5c8ff;
  --color-blue-red-500: #d2e4ff;
  --color-blue-red-550: #ffffff;
  --color-blue-red-600: #fed7d6;
  --color-blue-red-650: #f9afae;
  --color-blue-red-700: #f18687;
  --color-blue-red-750: #e55961;
  --color-blue-red-800: #d7153a;
  --color-blue-red-850: #bf0f34;
  --color-blue-red-900: #a70a2d;
  --color-blue-red-950: #8f0527;
  --color-blue-red-1000: #790220;
  --color-blue-red-1050: #630019;
  --color-blue-orange-50: #002664;
  --color-blue-orange-100: #013380;
  --color-blue-orange-150: #03419e;
  --color-blue-orange-200: #074fbd;
  --color-blue-orange-250: #0d5ddc;
  --color-blue-orange-300: #146cfd;
  --color-blue-orange-350: #4c8eff;
  --color-blue-orange-400: #79acff;
  --color-blue-orange-450: #a5c8ff;
  --color-blue-orange-500: #d2e4ff;
  --color-blue-orange-550: #ffffff;
  --color-blue-orange-600: #ffe2d6;
  --color-blue-orange-650: #ffc4ad;
  --color-blue-orange-700: #fea683;
  --color-blue-orange-750: #fa8657;
  --color-blue-orange-800: #f3631b;
  --color-blue-orange-850: #e05516;
  --color-blue-orange-900: #cc4611;
  --color-blue-orange-950: #b9380b;
  --color-blue-orange-1000: #a72a05;
  --color-blue-orange-1050: #941b00;
  --color-purple-yellow-50: #441170;
  --color-purple-yellow-100: #511e88;
  --color-purple-yellow-150: #5d2ba1;
  --color-purple-yellow-200: #6a39bb;
  --color-purple-yellow-250: #7546d6;
  --color-purple-yellow-300: #8055f1;
  --color-purple-yellow-350: #967bf7;
  --color-purple-yellow-400: #ae9efb;
  --color-purple-yellow-450: #c7bffe;
  --color-purple-yellow-500: #e3dfff;
  --color-purple-yellow-550: #ffffff;
  --color-purple-yellow-600: #fff0da;
  --color-purple-yellow-650: #ffe0b4;
  --color-purple-yellow-700: #fed08b;
  --color-purple-yellow-750: #fcc05d;
  --color-purple-yellow-800: #faaf05;
  --color-purple-yellow-850: #db9903;
  --color-purple-yellow-900: #bd8402;
  --color-purple-yellow-950: #a06f01;
  --color-purple-yellow-1000: #845b00;
  --color-purple-yellow-1050: #694800;
  --color-fuchsia-teal-50: #65004d;
  --color-fuchsia-teal-100: #7b025f;
  --color-fuchsia-teal-150: #920472;
  --color-fuchsia-teal-200: #a90885;
  --color-fuchsia-teal-250: #c10d99;
  --color-fuchsia-teal-300: #d912ae;
  --color-fuchsia-teal-350: #e65bbf;
  --color-fuchsia-teal-400: #f088cf;
  --color-fuchsia-teal-450: #f8b1df;
  --color-fuchsia-teal-500: #fdd8ef;
  --color-fuchsia-teal-550: #ffffff;
  --color-fuchsia-teal-600: #d6e5e8;
  --color-fuchsia-teal-650: #aecbd1;
  --color-fuchsia-teal-700: #86b2ba;
  --color-fuchsia-teal-750: #5d99a4;
  --color-fuchsia-teal-800: #2e808e;
  --color-fuchsia-teal-850: #27727f;
  --color-fuchsia-teal-900: #206571;
  --color-fuchsia-teal-950: #195862;
  --color-fuchsia-teal-1000: #124b54;
  --color-fuchsia-teal-1050: #0b3f47;
}
