@theme inline {
  --color-ember-50: oklch(0.26941250914562653 0.010359980410804477 242.08386480750661);
  --color-ember-100: oklch(0.28008157601578276 0.038070598867272605 254.21354645332488);
  --color-ember-150: oklch(0.29075064288593905 0.06578121732374073 266.3432280991432);
  --color-ember-200: oklch(0.3014197097560953 0.09349183578020887 278.47290974496144);
  --color-ember-250: oklch(0.31208877662625156 0.121202454236677 290.6025913907797);
  --color-ember-300: oklch(0.3227578434964078 0.1489130726931451 302.732273036598);
  --color-ember-350: oklch(0.37059735908503444 0.16263146044053944 318.25253033835594);
  --color-ember-400: oklch(0.4184368746736611 0.17634984818793376 333.7727876401139);
  --color-ember-450: oklch(0.46627639026228773 0.1900682359353281 349.2930449418719);
  --color-ember-500: oklch(0.5141159058509144 0.20378662368272243 364.8133022436299);
  --color-ember-550: oklch(0.561955421439541 0.21750501143011675 380.33355954538786);
  --color-ember-600: oklch(0.5844471096439127 0.2124898578932087 24.69646414455863);
  --color-ember-650: oklch(0.6069387978482844 0.20747470435630064 29.059368743729372);
  --color-ember-700: oklch(0.6294304860526561 0.2024595508193926 33.42227334290012);
  --color-ember-750: oklch(0.6519221742570278 0.19744439728248453 37.78517794207087);
  --color-ember-800: oklch(0.6744138624613994 0.1924292437455765 42.148082541241614);
  --color-ember-850: oklch(0.7005386161572219 0.1874149612588774 49.23658619567631);
  --color-ember-900: oklch(0.7266633698530445 0.18240067877217833 56.32508985011101);
  --color-ember-950: oklch(0.7527881235488669 0.17738639628547925 63.41359350454571);
  --color-ember-1000: oklch(0.7789128772446895 0.17237211379878017 70.5020971589804);
  --color-ember-1050: oklch(0.805037630940512 0.1673578313120811 77.59060081341511);
  --color-earthfire-50: oklch(0.3613609992214239 0.05850633759649848 66.9201446671023);
  --color-earthfire-100: oklch(0.375528629961059 0.07868078002461537 60.14060364356939);
  --color-earthfire-150: oklch(0.38969626070069413 0.09885522245273226 53.361062620036485);
  --color-earthfire-200: oklch(0.4038638914403292 0.11902966488084912 46.58152159650358);
  --color-earthfire-250: oklch(0.4180315221799643 0.13920410730896604 39.80198057297066);
  --color-earthfire-300: oklch(0.4321991529195994 0.1593785497370829 33.022439549437756);
  --color-earthfire-350: oklch(0.48064209482795944 0.16598868853878163 34.847568147798526);
  --color-earthfire-400: oklch(0.5290850367363195 0.17259882734048035 36.672696746159296);
  --color-earthfire-450: oklch(0.5775279786446794 0.17920896614217904 38.49782534452007);
  --color-earthfire-500: oklch(0.6259709205530395 0.18581910494387777 40.322953942880844);
  --color-earthfire-550: oklch(0.6744138624613994 0.1924292437455765 42.148082541241614);
  --color-earthfire-600: oklch(0.7005386161572219 0.1874149612588774 49.23658619567631);
  --color-earthfire-650: oklch(0.7266633698530445 0.18240067877217833 56.32508985011101);
  --color-earthfire-700: oklch(0.7527881235488669 0.17738639628547925 63.41359350454571);
  --color-earthfire-750: oklch(0.7789128772446895 0.17237211379878017 70.5020971589804);
  --color-earthfire-800: oklch(0.805037630940512 0.1673578313120811 77.59060081341511);
  --color-earthfire-850: oklch(0.8297809709649343 0.1536949679676753 80.88019785042881);
  --color-earthfire-900: oklch(0.8545243109893567 0.14003210462326948 84.1697948874425);
  --color-earthfire-950: oklch(0.879267651013779 0.12636924127886368 87.45939192445621);
  --color-earthfire-1000: oklch(0.9040109910382014 0.11270637793445784 90.7489889614699);
  --color-earthfire-1050: oklch(0.9287543310626237 0.09904351459005203 94.03858599848361);
  --color-fuchsia-heat-50: oklch(0.340575889122065 0.14685114320973375 341.7061446429382);
  --color-fuchsia-heat-100: oklch(0.39271137664696126 0.16832751251930148 341.41537719439964);
  --color-fuchsia-heat-150: oklch(0.4448468641718576 0.1898038818288692 341.12460974586105);
  --color-fuchsia-heat-200: oklch(0.49698235169675387 0.2112802511384369 340.8338422973224);
  --color-fuchsia-heat-250: oklch(0.5491178392216501 0.23275662044800466 340.5430748487838);
  --color-fuchsia-heat-300: oklch(0.6012533267465464 0.25423298975757236 340.25230740024523);
  --color-fuchsia-heat-350: oklch(0.615885433889517 0.24187224055517317 352.6314624284445);
  --color-fuchsia-heat-400: oklch(0.6305175410324876 0.22951149135277402 365.0106174566438);
  --color-fuchsia-heat-450: oklch(0.6451496481754583 0.21715074215037483 377.38977248484304);
  --color-fuchsia-heat-500: oklch(0.6597817553184289 0.20478999294797567 389.76892751304234);
  --color-fuchsia-heat-550: oklch(0.6744138624613994 0.1924292437455765 402.1480825412416);
  --color-fuchsia-heat-600: oklch(0.7005386161572219 0.1874149612588774 49.23658619567631);
  --color-fuchsia-heat-650: oklch(0.7266633698530445 0.18240067877217833 56.32508985011101);
  --color-fuchsia-heat-700: oklch(0.7527881235488669 0.17738639628547925 63.41359350454571);
  --color-fuchsia-heat-750: oklch(0.7789128772446895 0.17237211379878017 70.5020971589804);
  --color-fuchsia-heat-800: oklch(0.805037630940512 0.1673578313120811 77.59060081341511);
  --color-fuchsia-heat-850: oklch(0.8297809709649343 0.1536949679676753 80.88019785042881);
  --color-fuchsia-heat-900: oklch(0.8545243109893567 0.14003210462326948 84.1697948874425);
  --color-fuchsia-heat-950: oklch(0.879267651013779 0.12636924127886368 87.45939192445621);
  --color-fuchsia-heat-1000: oklch(0.9040109910382014 0.11270637793445784 90.7489889614699);
  --color-fuchsia-heat-1050: oklch(0.9287543310626237 0.09904351459005203 94.03858599848361);
  --color-polar-glow-50: oklch(0.28999868761296915 0.11729575493611505 259.8419383518128);
  --color-polar-glow-100: oklch(0.34702148121110205 0.1398033340019479 260.02481761921945);
  --color-polar-glow-150: oklch(0.404044274809235 0.16231091306778073 260.20769688662614);
  --color-polar-glow-200: oklch(0.4610670684073679 0.18481849213361357 260.3905761540328);
  --color-polar-glow-250: oklch(0.5180898620055008 0.2073260711994464 260.57345542143946);
  --color-polar-glow-300: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --color-polar-glow-350: oklch(0.5714061327954376 0.19990429396873818 250.7825946981967);
  --color-polar-glow-400: oklch(0.5676996099872416 0.16997493767219712 240.8088547075473);
  --color-polar-glow-450: oklch(0.5639930871790456 0.1400455813756561 230.83511471689792);
  --color-polar-glow-500: oklch(0.5602865643708496 0.11011622507911506 220.8613747262485);
  --color-polar-glow-550: oklch(0.5565800415626535 0.08018686878257403 210.8876347355991);
  --color-polar-glow-600: oklch(0.614045385775663 0.07989207999038019 209.90435426372622);
  --color-polar-glow-650: oklch(0.6715107299886726 0.07959729119818636 208.92107379185333);
  --color-polar-glow-700: oklch(0.728976074201682 0.07930250240599251 207.93779331998044);
  --color-polar-glow-750: oklch(0.7864414184146915 0.07900771361379869 206.95451284810756);
  --color-polar-glow-800: oklch(0.843906762627701 0.07871292482160484 205.97123237623467);
  --color-polar-glow-850: oklch(0.8605191598756461 0.06913623040762773 202.09457902880814);
  --color-polar-glow-900: oklch(0.8771315571235911 0.0595595359936506 198.21792568138164);
  --color-polar-glow-950: oklch(0.8937439543715363 0.04998284157967349 194.34127233395512);
  --color-polar-glow-1000: oklch(0.9103563516194814 0.04040614716569636 190.46461898652862);
  --color-polar-glow-1050: oklch(0.9269687488674264 0.03082945275171925 186.5879656391021);
  --color-glacier-pool-50: oklch(0.3227578434964078 0.1489130726931451 302.732273036598);
  --color-glacier-pool-100: oklch(0.37455225184473395 0.16345336471971228 300.286155081269);
  --color-glacier-pool-150: oklch(0.42634666019306017 0.17799365674627945 297.84003712594);
  --color-glacier-pool-200: oklch(0.4781410685413863 0.1925339487728466 295.39391917061107);
  --color-glacier-pool-250: oklch(0.5299354768897125 0.20707424079941378 292.9478012152821);
  --color-glacier-pool-300: oklch(0.5817298852380387 0.22161453282598095 290.5016832599531);
  --color-glacier-pool-350: oklch(0.5804064393111577 0.2232583563138406 284.5526135457317);
  --color-glacier-pool-400: oklch(0.5790829933842767 0.22490217980170027 278.6035438315103);
  --color-glacier-pool-450: oklch(0.5777595474573957 0.2265460032895599 272.6544741172889);
  --color-glacier-pool-500: oklch(0.5764361015305147 0.22818982677741956 266.7054044030675);
  --color-glacier-pool-550: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --color-glacier-pool-600: oklch(0.6329084041312646 0.20229545991836423 253.324100552745);
  --color-glacier-pool-650: oklch(0.6907041526588955 0.17475726957144927 245.8918664166439);
  --color-glacier-pool-700: oklch(0.7484999011865263 0.1472190792245343 238.45963228054276);
  --color-glacier-pool-750: oklch(0.8062956497141572 0.11968088887761932 231.02739814444166);
  --color-glacier-pool-800: oklch(0.8640913982417882 0.09214269853070436 223.59516400834056);
  --color-glacier-pool-850: oklch(0.876607835646608 0.08204682871763162 224.45428856710376);
  --color-glacier-pool-900: oklch(0.8891242730514279 0.07195095890455891 225.31341312586693);
  --color-glacier-pool-950: oklch(0.9016407104562478 0.06185508909148618 226.17253768463013);
  --color-glacier-pool-1000: oklch(0.9141571478610677 0.05175921927841346 227.0316622433933);
  --color-glacier-pool-1050: oklch(0.9266735852658876 0.04166334946534074 227.8907868021565);
  --color-deep-current-50: oklch(0.33911919741392443 0.053288133195211605 210.30348176697262);
  --color-deep-current-100: oklch(0.38261136624367026 0.05866788031268409 210.42031236069792);
  --color-deep-current-150: oklch(0.4261035350734161 0.06404762743015657 210.53714295442322);
  --color-deep-current-200: oklch(0.46959570390316185 0.06942737454762905 210.6539735481485);
  --color-deep-current-250: oklch(0.5130878727329077 0.07480712166510155 210.7708041418738);
  --color-deep-current-300: oklch(0.5565800415626535 0.08018686878257403 210.8876347355991);
  --color-deep-current-350: oklch(0.5602865643708496 0.11011622507911506 220.8613747262485);
  --color-deep-current-400: oklch(0.5639930871790456 0.1400455813756561 230.83511471689792);
  --color-deep-current-450: oklch(0.5676996099872416 0.16997493767219712 240.8088547075473);
  --color-deep-current-500: oklch(0.5714061327954376 0.19990429396873818 250.7825946981967);
  --color-deep-current-550: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --color-deep-current-600: oklch(0.6329084041312646 0.20229545991836423 253.324100552745);
  --color-deep-current-650: oklch(0.6907041526588955 0.17475726957144927 245.8918664166439);
  --color-deep-current-700: oklch(0.7484999011865263 0.1472190792245343 238.45963228054276);
  --color-deep-current-750: oklch(0.8062956497141572 0.11968088887761932 231.02739814444166);
  --color-deep-current-800: oklch(0.8640913982417882 0.09214269853070436 223.59516400834056);
  --color-deep-current-850: oklch(0.876607835646608 0.08204682871763162 224.45428856710376);
  --color-deep-current-900: oklch(0.8891242730514279 0.07195095890455891 225.31341312586693);
  --color-deep-current-950: oklch(0.9016407104562478 0.06185508909148618 226.17253768463013);
  --color-deep-current-1000: oklch(0.9141571478610677 0.05175921927841346 227.0316622433933);
  --color-deep-current-1050: oklch(0.9266735852658876 0.04166334946534074 227.8907868021565);
  --color-blue-red-50: oklch(0.28999868761296915 0.11729575493611505 259.8419383518128);
  --color-blue-red-100: oklch(0.34702148121110205 0.1398033340019479 260.02481761921945);
  --color-blue-red-150: oklch(0.404044274809235 0.16231091306778073 260.20769688662614);
  --color-blue-red-200: oklch(0.4610670684073679 0.18481849213361357 260.3905761540328);
  --color-blue-red-250: oklch(0.5180898620055008 0.2073260711994464 260.57345542143946);
  --color-blue-red-300: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --color-blue-red-350: oklch(0.6600901244829069 0.18386692021222337 260.7563346888461);
  --color-blue-red-400: oklch(0.7450675933621802 0.13790019015916752 260.7563346888461);
  --color-blue-red-450: oklch(0.8300450622414535 0.0919334601061117 260.7563346888461);
  --color-blue-red-500: oklch(0.9150225311207267 0.04596673005305582 260.7563346888461);
  --color-blue-red-550: oklch(1 0 260.7563346888461);
  --color-blue-red-600: oklch(0.9123910842879082 0.043501002286023355 20.33355954538788);
  --color-blue-red-650: oklch(0.8247821685758164 0.08700200457204671 20.33355954538788);
  --color-blue-red-700: oklch(0.7371732528637247 0.13050300685807004 20.33355954538788);
  --color-blue-red-750: oklch(0.6495643371516329 0.17400400914409342 20.33355954538788);
  --color-blue-red-800: oklch(0.561955421439541 0.21750501143011675 20.33355954538788);
  --color-blue-red-850: oklch(0.5129578165530939 0.1993814048599521 19.6934710817863);
  --color-blue-red-900: oklch(0.4639602116666469 0.18125779828978744 19.053382618184717);
  --color-blue-red-950: oklch(0.4149626067801998 0.1631341917196228 18.413294154583134);
  --color-blue-red-1000: oklch(0.36596500189375275 0.14501058514945814 17.773205690981552);
  --color-blue-red-1050: oklch(0.3169673970073057 0.12688697857929349 17.13311722737997);
  --color-blue-orange-50: oklch(0.28999868761296915 0.11729575493611505 259.8419383518128);
  --color-blue-orange-100: oklch(0.34702148121110205 0.1398033340019479 260.02481761921945);
  --color-blue-orange-150: oklch(0.404044274809235 0.16231091306778073 260.20769688662614);
  --color-blue-orange-200: oklch(0.4610670684073679 0.18481849213361357 260.3905761540328);
  --color-blue-orange-250: oklch(0.5180898620055008 0.2073260711994464 260.57345542143946);
  --color-blue-orange-300: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --color-blue-orange-350: oklch(0.6600901244829069 0.18386692021222337 260.7563346888461);
  --color-blue-orange-400: oklch(0.7450675933621802 0.13790019015916752 260.7563346888461);
  --color-blue-orange-450: oklch(0.8300450622414535 0.0919334601061117 260.7563346888461);
  --color-blue-orange-500: oklch(0.9150225311207267 0.04596673005305582 260.7563346888461);
  --color-blue-orange-550: oklch(1 0 260.7563346888461);
  --color-blue-orange-600: oklch(0.9348827724922799 0.0384858487491153 42.148082541241614);
  --color-blue-orange-650: oklch(0.8697655449845598 0.0769716974982306 42.148082541241614);
  --color-blue-orange-700: oklch(0.8046483174768397 0.11545754624734589 42.148082541241614);
  --color-blue-orange-750: oklch(0.7395310899691195 0.1539433949964612 42.148082541241614);
  --color-blue-orange-800: oklch(0.6744138624613994 0.1924292437455765 42.148082541241614);
  --color-blue-orange-850: oklch(0.6259709205530395 0.18581910494387777 40.322953942880844);
  --color-blue-orange-900: oklch(0.5775279786446794 0.17920896614217904 38.49782534452007);
  --color-blue-orange-950: oklch(0.5290850367363195 0.17259882734048035 36.672696746159296);
  --color-blue-orange-1000: oklch(0.4806420948279594 0.16598868853878163 34.847568147798526);
  --color-blue-orange-1050: oklch(0.4321991529195994 0.1593785497370829 33.022439549437756);
  --color-purple-yellow-50: oklch(0.3227578434964078 0.1489130726931451 302.732273036598);
  --color-purple-yellow-100: oklch(0.37455225184473395 0.16345336471971228 300.286155081269);
  --color-purple-yellow-150: oklch(0.42634666019306017 0.17799365674627945 297.84003712594);
  --color-purple-yellow-200: oklch(0.4781410685413863 0.1925339487728466 295.39391917061107);
  --color-purple-yellow-250: oklch(0.5299354768897125 0.20707424079941378 292.9478012152821);
  --color-purple-yellow-300: oklch(0.5817298852380387 0.22161453282598095 290.5016832599531);
  --color-purple-yellow-350: oklch(0.6653839081904309 0.17729162626078476 290.5016832599531);
  --color-purple-yellow-400: oklch(0.7490379311428232 0.13296871969558857 290.5016832599531);
  --color-purple-yellow-450: oklch(0.8326919540952155 0.08864581313039238 290.5016832599531);
  --color-purple-yellow-500: oklch(0.9163459770476078 0.04432290656519619 290.5016832599531);
  --color-purple-yellow-550: oklch(1 0 290.5016832599531);
  --color-purple-yellow-600: oklch(0.9610075261881024 0.03347156626241622 77.59060081341511);
  --color-purple-yellow-650: oklch(0.9220150523762047 0.06694313252483244 77.59060081341511);
  --color-purple-yellow-700: oklch(0.8830225785643072 0.10041469878724865 77.59060081341511);
  --color-purple-yellow-750: oklch(0.8440301047524096 0.1338862650496649 77.59060081341511);
  --color-purple-yellow-800: oklch(0.805037630940512 0.1673578313120811 77.59060081341511);
  --color-purple-yellow-850: oklch(0.7294953114162297 0.1516602301648859 77.80824509240053);
  --color-purple-yellow-900: oklch(0.6539529918919474 0.13596262901769068 78.02588937138594);
  --color-purple-yellow-950: oklch(0.5784106723676652 0.1202650278704955 78.24353365037135);
  --color-purple-yellow-1000: oklch(0.5028683528433828 0.10456742672330029 78.46117792935677);
  --color-purple-yellow-1050: oklch(0.42732603331910063 0.0888698255761051 78.67882220834218);
  --color-fuchsia-teal-50: oklch(0.340575889122065 0.14685114320973375 341.7061446429382);
  --color-fuchsia-teal-100: oklch(0.39271137664696126 0.16832751251930148 341.41537719439964);
  --color-fuchsia-teal-150: oklch(0.4448468641718576 0.1898038818288692 341.12460974586105);
  --color-fuchsia-teal-200: oklch(0.49698235169675387 0.2112802511384369 340.8338422973224);
  --color-fuchsia-teal-250: oklch(0.5491178392216501 0.23275662044800466 340.5430748487838);
  --color-fuchsia-teal-300: oklch(0.6012533267465464 0.25423298975757236 340.25230740024523);
  --color-fuchsia-teal-350: oklch(0.6810026613972371 0.2033863918060579 340.25230740024523);
  --color-fuchsia-teal-400: oklch(0.7607519960479279 0.15253979385454342 340.25230740024523);
  --color-fuchsia-teal-450: oklch(0.8405013306986185 0.10169319590302894 340.25230740024523);
  --color-fuchsia-teal-500: oklch(0.9202506653493093 0.05084659795151447 340.25230740024523);
  --color-fuchsia-teal-550: oklch(1 0 340.25230740024523);
  --color-fuchsia-teal-600: oklch(0.9113160083125307 0.016037373756514806 210.8876347355991);
  --color-fuchsia-teal-650: oklch(0.8226320166250614 0.03207474751302961 210.8876347355991);
  --color-fuchsia-teal-700: oklch(0.733948024937592 0.048112121269544415 210.8876347355991);
  --color-fuchsia-teal-750: oklch(0.6452640332501227 0.06414949502605923 210.8876347355991);
  --color-fuchsia-teal-800: oklch(0.5565800415626535 0.08018686878257403 210.8876347355991);
  --color-fuchsia-teal-850: oklch(0.5130878727329077 0.07480712166510155 210.7708041418738);
  --color-fuchsia-teal-900: oklch(0.46959570390316185 0.06942737454762905 210.6539735481485);
  --color-fuchsia-teal-950: oklch(0.42610353507341603 0.06404762743015657 210.53714295442322);
  --color-fuchsia-teal-1000: oklch(0.3826113662436702 0.05866788031268409 210.42031236069792);
  --color-fuchsia-teal-1050: oklch(0.33911919741392443 0.053288133195211605 210.30348176697262);
}
