:root {
  --color-ember-50: rgb(34, 39, 43);
  --color-ember-100: rgb(28, 42, 59);
  --color-ember-150: rgb(28, 42, 76);
  --color-ember-200: rgb(37, 38, 92);
  --color-ember-250: rgb(51, 31, 104);
  --color-ember-300: rgb(68, 17, 112);
  --color-ember-350: rgb(97, 17, 117);
  --color-ember-400: rgb(128, 15, 115);
  --color-ember-450: rgb(159, 9, 106);
  --color-ember-500: rgb(188, 7, 88);
  --color-ember-550: rgb(215, 21, 58);
  --color-ember-600: rgb(222, 43, 52);
  --color-ember-650: rgb(228, 59, 46);
  --color-ember-700: rgb(233, 73, 39);
  --color-ember-750: rgb(238, 86, 33);
  --color-ember-800: rgb(243, 99, 27);
  --color-ember-850: rgb(247, 115, 0);
  --color-ember-900: rgb(249, 130, 0);
  --color-ember-950: rgb(251, 145, 0);
  --color-ember-1000: rgb(251, 160, 0);
  --color-ember-1050: rgb(250, 175, 5);
  --color-earthfire-50: rgb(82, 55, 25);
  --color-earthfire-100: rgb(95, 54, 13);
  --color-earthfire-150: rgb(108, 51, 0);
  --color-earthfire-200: rgb(122, 46, 0);
  --color-earthfire-250: rgb(135, 38, 0);
  --color-earthfire-300: rgb(148, 27, 0);
  --color-earthfire-350: rgb(167, 42, 5);
  --color-earthfire-400: rgb(185, 56, 11);
  --color-earthfire-450: rgb(204, 70, 17);
  --color-earthfire-500: rgb(224, 85, 22);
  --color-earthfire-550: rgb(243, 99, 27);
  --color-earthfire-600: rgb(247, 115, 0);
  --color-earthfire-650: rgb(249, 130, 0);
  --color-earthfire-700: rgb(251, 145, 0);
  --color-earthfire-750: rgb(251, 160, 0);
  --color-earthfire-800: rgb(250, 175, 5);
  --color-earthfire-850: rgb(250, 187, 59);
  --color-earthfire-900: rgb(250, 199, 87);
  --color-earthfire-950: rgb(251, 210, 111);
  --color-earthfire-1000: rgb(252, 221, 133);
  --color-earthfire-1050: rgb(253, 231, 154);
  --color-fuchsia-heat-50: rgb(101, 0, 77);
  --color-fuchsia-heat-100: rgb(123, 2, 95);
  --color-fuchsia-heat-150: rgb(146, 4, 114);
  --color-fuchsia-heat-200: rgb(169, 8, 133);
  --color-fuchsia-heat-250: rgb(193, 13, 153);
  --color-fuchsia-heat-300: rgb(217, 18, 174);
  --color-fuchsia-heat-350: rgb(230, 30, 146);
  --color-fuchsia-heat-400: rgb(240, 45, 119);
  --color-fuchsia-heat-450: rgb(245, 62, 91);
  --color-fuchsia-heat-500: rgb(246, 80, 62);
  --color-fuchsia-heat-550: rgb(243, 99, 27);
  --color-fuchsia-heat-600: rgb(247, 115, 0);
  --color-fuchsia-heat-650: rgb(249, 130, 0);
  --color-fuchsia-heat-700: rgb(251, 145, 0);
  --color-fuchsia-heat-750: rgb(251, 160, 0);
  --color-fuchsia-heat-800: rgb(250, 175, 5);
  --color-fuchsia-heat-850: rgb(250, 187, 59);
  --color-fuchsia-heat-900: rgb(250, 199, 87);
  --color-fuchsia-heat-950: rgb(251, 210, 111);
  --color-fuchsia-heat-1000: rgb(252, 221, 133);
  --color-fuchsia-heat-1050: rgb(253, 231, 154);
  --color-polar-glow-50: rgb(0, 38, 100);
  --color-polar-glow-100: rgb(1, 51, 128);
  --color-polar-glow-150: rgb(3, 65, 158);
  --color-polar-glow-200: rgb(7, 79, 189);
  --color-polar-glow-250: rgb(13, 93, 220);
  --color-polar-glow-300: rgb(20, 108, 253);
  --color-polar-glow-350: rgb(0, 119, 231);
  --color-polar-glow-400: rgb(0, 126, 208);
  --color-polar-glow-450: rgb(0, 130, 184);
  --color-polar-glow-500: rgb(0, 130, 162);
  --color-polar-glow-550: rgb(46, 128, 142);
  --color-polar-glow-600: rgb(66, 146, 159);
  --color-polar-glow-650: rgb(84, 163, 176);
  --color-polar-glow-700: rgb(103, 182, 193);
  --color-polar-glow-750: rgb(121, 200, 211);
  --color-polar-glow-800: rgb(140, 219, 229);
  --color-polar-glow-850: rgb(154, 223, 229);
  --color-polar-glow-900: rgb(169, 227, 229);
  --color-polar-glow-950: rgb(182, 231, 230);
  --color-polar-glow-1000: rgb(196, 235, 231);
  --color-polar-glow-1050: rgb(209, 238, 234);
  --color-glacier-pool-50: rgb(68, 17, 112);
  --color-glacier-pool-100: rgb(81, 30, 136);
  --color-glacier-pool-150: rgb(93, 43, 161);
  --color-glacier-pool-200: rgb(106, 57, 187);
  --color-glacier-pool-250: rgb(117, 70, 214);
  --color-glacier-pool-300: rgb(128, 85, 241);
  --color-glacier-pool-350: rgb(115, 89, 246);
  --color-glacier-pool-400: rgb(100, 94, 250);
  --color-glacier-pool-450: rgb(83, 98, 252);
  --color-glacier-pool-500: rgb(60, 103, 253);
  --color-glacier-pool-550: rgb(20, 108, 253);
  --color-glacier-pool-600: rgb(0, 137, 255);
  --color-glacier-pool-650: rgb(12, 162, 255);
  --color-glacier-pool-700: rgb(59, 185, 255);
  --color-glacier-pool-750: rgb(100, 205, 255);
  --color-glacier-pool-800: rgb(140, 224, 255);
  --color-glacier-pool-850: rgb(154, 227, 255);
  --color-glacier-pool-900: rgb(167, 229, 255);
  --color-glacier-pool-950: rgb(179, 232, 254);
  --color-glacier-pool-1000: rgb(191, 234, 254);
  --color-glacier-pool-1050: rgb(203, 237, 253);
  --color-deep-current-50: rgb(11, 63, 71);
  --color-deep-current-100: rgb(18, 75, 84);
  --color-deep-current-150: rgb(25, 88, 98);
  --color-deep-current-200: rgb(32, 101, 113);
  --color-deep-current-250: rgb(39, 114, 127);
  --color-deep-current-300: rgb(46, 128, 142);
  --color-deep-current-350: rgb(0, 130, 162);
  --color-deep-current-400: rgb(0, 130, 184);
  --color-deep-current-450: rgb(0, 126, 208);
  --color-deep-current-500: rgb(0, 119, 231);
  --color-deep-current-550: rgb(20, 108, 253);
  --color-deep-current-600: rgb(0, 137, 255);
  --color-deep-current-650: rgb(12, 162, 255);
  --color-deep-current-700: rgb(59, 185, 255);
  --color-deep-current-750: rgb(100, 205, 255);
  --color-deep-current-800: rgb(140, 224, 255);
  --color-deep-current-850: rgb(154, 227, 255);
  --color-deep-current-900: rgb(167, 229, 255);
  --color-deep-current-950: rgb(179, 232, 254);
  --color-deep-current-1000: rgb(191, 234, 254);
  --color-deep-current-1050: rgb(203, 237, 253);
  --color-blue-red-50: rgb(0, 38, 100);
  --color-blue-red-100: rgb(1, 51, 128);
  --color-blue-red-150: rgb(3, 65, 158);
  --color-blue-red-200: rgb(7, 79, 189);
  --color-blue-red-250: rgb(13, 93, 220);
  --color-blue-red-300: rgb(20, 108, 253);
  --color-blue-red-350: rgb(76, 142, 255);
  --color-blue-red-400: rgb(121, 172, 255);
  --color-blue-red-450: rgb(165, 200, 255);
  --color-blue-red-500: rgb(210, 228, 255);
  --color-blue-red-550: rgb(254, 215, 214);
  --color-blue-red-600: rgb(249, 175, 174);
  --color-blue-red-650: rgb(241, 134, 135);
  --color-blue-red-700: rgb(229, 89, 97);
  --color-blue-red-750: rgb(215, 21, 58);
  --color-blue-red-800: rgb(191, 15, 52);
  --color-blue-red-850: rgb(167, 10, 45);
  --color-blue-red-900: rgb(143, 5, 39);
  --color-blue-red-950: rgb(121, 2, 32);
  --color-blue-red-1000: rgb(99, 0, 25);
  --color-blue-orange-50: rgb(0, 38, 100);
  --color-blue-orange-100: rgb(1, 51, 128);
  --color-blue-orange-150: rgb(3, 65, 158);
  --color-blue-orange-200: rgb(7, 79, 189);
  --color-blue-orange-250: rgb(13, 93, 220);
  --color-blue-orange-300: rgb(20, 108, 253);
  --color-blue-orange-350: rgb(76, 142, 255);
  --color-blue-orange-400: rgb(121, 172, 255);
  --color-blue-orange-450: rgb(165, 200, 255);
  --color-blue-orange-500: rgb(210, 228, 255);
  --color-blue-orange-550: rgb(255, 226, 214);
  --color-blue-orange-600: rgb(255, 196, 173);
  --color-blue-orange-650: rgb(254, 166, 131);
  --color-blue-orange-700: rgb(250, 134, 87);
  --color-blue-orange-750: rgb(243, 99, 27);
  --color-blue-orange-800: rgb(224, 85, 22);
  --color-blue-orange-850: rgb(204, 70, 17);
  --color-blue-orange-900: rgb(185, 56, 11);
  --color-blue-orange-950: rgb(167, 42, 5);
  --color-blue-orange-1000: rgb(148, 27, 0);
  --color-purple-yellow-50: rgb(68, 17, 112);
  --color-purple-yellow-100: rgb(81, 30, 136);
  --color-purple-yellow-150: rgb(93, 43, 161);
  --color-purple-yellow-200: rgb(106, 57, 187);
  --color-purple-yellow-250: rgb(117, 70, 214);
  --color-purple-yellow-300: rgb(128, 85, 241);
  --color-purple-yellow-350: rgb(150, 123, 247);
  --color-purple-yellow-400: rgb(174, 158, 251);
  --color-purple-yellow-450: rgb(199, 191, 254);
  --color-purple-yellow-500: rgb(227, 223, 255);
  --color-purple-yellow-550: rgb(255, 240, 218);
  --color-purple-yellow-600: rgb(255, 224, 180);
  --color-purple-yellow-650: rgb(254, 208, 139);
  --color-purple-yellow-700: rgb(252, 192, 93);
  --color-purple-yellow-750: rgb(250, 175, 5);
  --color-purple-yellow-800: rgb(219, 153, 3);
  --color-purple-yellow-850: rgb(189, 132, 2);
  --color-purple-yellow-900: rgb(160, 111, 1);
  --color-purple-yellow-950: rgb(132, 91, 0);
  --color-purple-yellow-1000: rgb(105, 72, 0);
  --color-fuchsia-teal-50: rgb(101, 0, 77);
  --color-fuchsia-teal-100: rgb(123, 2, 95);
  --color-fuchsia-teal-150: rgb(146, 4, 114);
  --color-fuchsia-teal-200: rgb(169, 8, 133);
  --color-fuchsia-teal-250: rgb(193, 13, 153);
  --color-fuchsia-teal-300: rgb(217, 18, 174);
  --color-fuchsia-teal-350: rgb(230, 91, 191);
  --color-fuchsia-teal-400: rgb(240, 136, 207);
  --color-fuchsia-teal-450: rgb(248, 177, 223);
  --color-fuchsia-teal-500: rgb(253, 216, 239);
  --color-fuchsia-teal-550: rgb(214, 229, 232);
  --color-fuchsia-teal-600: rgb(174, 203, 209);
  --color-fuchsia-teal-650: rgb(134, 178, 186);
  --color-fuchsia-teal-700: rgb(93, 153, 164);
  --color-fuchsia-teal-750: rgb(46, 128, 142);
  --color-fuchsia-teal-800: rgb(39, 114, 127);
  --color-fuchsia-teal-850: rgb(32, 101, 113);
  --color-fuchsia-teal-900: rgb(25, 88, 98);
  --color-fuchsia-teal-950: rgb(18, 75, 84);
  --color-fuchsia-teal-1000: rgb(11, 63, 71);
}
