:root {
  --color-success-50: #eff9ed;
  --color-success-100: #e0f3de;
  --color-success-150: #d2eccf;
  --color-success-200: #c4e5c0;
  --color-success-250: #aad6a5;
  --color-success-300: #8fc78a;
  --color-success-350: #74b76f;
  --color-success-400: #58a854;
  --color-success-450: #49a146;
  --color-success-500: #399936;
  --color-success-550: #259224;
  --color-success-600: #008a07;
  --color-success-650: #007204;
  --color-success-700: #005a02;
  --color-success-750: #004401;
  --color-success-800: #002f00;
  --color-success-850: #002200;
  --color-success-900: #001600;
  --color-success-950: #000b00;
  --color-warning-50: #fff3ed;
  --color-warning-100: #ffe8de;
  --color-warning-150: #ffddcf;
  --color-warning-200: #fdd2c0;
  --color-warning-250: #f6bda5;
  --color-warning-300: #eea88a;
  --color-warning-350: #e6936f;
  --color-warning-400: #dd7d53;
  --color-warning-450: #d87244;
  --color-warning-500: #d36734;
  --color-warning-550: #ce5c21;
  --color-warning-600: #c95000;
  --color-warning-650: #a83f03;
  --color-warning-700: #882f03;
  --color-warning-750: #692001;
  --color-warning-800: #4b1200;
  --color-warning-850: #390a00;
  --color-warning-900: #270400;
  --color-warning-950: #170100;
  --color-danger-50: #fff0ef;
  --color-danger-100: #ffe2e1;
  --color-danger-150: #ffd4d4;
  --color-danger-200: #fdc6c6;
  --color-danger-250: #f4acad;
  --color-danger-300: #ea9294;
  --color-danger-350: #df787c;
  --color-danger-400: #d35d65;
  --color-danger-450: #cd4e59;
  --color-danger-500: #c63f4e;
  --color-danger-550: #bf2c42;
  --color-danger-600: #b81237;
  --color-danger-650: #990b2a;
  --color-danger-700: #7c061f;
  --color-danger-750: #5f0214;
  --color-danger-800: #44000a;
  --color-danger-850: #330005;
  --color-danger-900: #230002;
  --color-danger-950: #140001;
  --color-info-50: #e9eef7;
  --color-info-100: #d4ddeb;
  --color-info-150: #c0cce0;
  --color-info-200: #acbbd5;
  --color-info-250: #96a9cc;
  --color-info-300: #8098c2;
  --color-info-350: #6b86b8;
  --color-info-400: #5775ae;
  --color-info-450: #4d6ca9;
  --color-info-500: #4264a4;
  --color-info-550: #385b9e;
  --color-info-600: #2e5299;
  --color-info-650: #23427f;
  --color-info-700: #193366;
  --color-info-750: #10254f;
  --color-info-800: #071738;
  --color-info-850: #040f2a;
  --color-info-900: #02071c;
  --color-info-950: #00030f;
}
