:root {
  --color-success-50: oklch(0.9720355476100955 0.01978729853872853 142.11752406542539);
  --color-success-100: oklch(0.944071095220191 0.03348619752707904 142.11752406542539);
  --color-success-150: oklch(0.9161066428302864 0.04718509651542956 142.11752406542539);
  --color-success-200: oklch(0.8881421904403819 0.06088399550378008 142.11752406542539);
  --color-success-250: oklch(0.8312289461835737 0.0814134964867239 142.2964842668701);
  --color-success-300: oklch(0.7743157019267655 0.10194299746966773 142.47544446831483);
  --color-success-350: oklch(0.7174024576699572 0.12247249845261154 142.65440466975954);
  --color-success-400: oklch(0.660489213413149 0.14300199943555536 142.83336487120425);
  --color-success-450: oklch(0.6326270919832794 0.153487552492673 142.8252122365381);
  --color-success-500: oklch(0.6047649705534097 0.16397310554979067 142.81705960187193);
  --color-success-550: oklch(0.57690284912354 0.17445865860690835 142.80890696720576);
  --color-success-600: oklch(0.5490407276936703 0.184944211664026 142.8007543325396);
  --color-success-650: oklch(0.4778879989458421 0.16120283434453703 142.72440047135717);
  --color-success-700: oklch(0.40673527019801387 0.13746145702504803 142.64804661017473);
  --color-success-750: oklch(0.3355825414501856 0.11372007970555903 142.57169274899232);
  --color-success-800: oklch(0.26442981270235744 0.08997870238607004 142.49533888780988);
  --color-success-850: oklch(0.21815459547944488 0.07648189702815954 142.49533888780988);
  --color-success-900: oklch(0.17187937825653232 0.06298509167024903 142.49533888780988);
  --color-success-950: oklch(0.12560416103361977 0.04948828631233853 142.49533888780988);
  --color-warning-50: oklch(0.9739777778864123 0.017695077274685146 43.9454781334139);
  --color-warning-100: oklch(0.9479555557728245 0.029945515387928705 43.9454781334139);
  --color-warning-150: oklch(0.9219333336592369 0.042195953501172265 43.9454781334139);
  --color-warning-200: oklch(0.8959111115456492 0.05444639161441583 43.9454781334139);
  --color-warning-250: oklch(0.8436567377995562 0.07383969866253859 43.88732593200177);
  --color-warning-300: oklch(0.7914023640534633 0.09323300571066136 43.829173730589645);
  --color-warning-350: oklch(0.7391479903073703 0.11262631275878413 43.77102152917751);
  --color-warning-400: oklch(0.6868936165612773 0.13201961980690688 43.71286932776538);
  --color-warning-450: oklch(0.6610028202949751 0.14144095719007027 43.78396833320002);
  --color-warning-500: oklch(0.635112024028673 0.15086229457323366 43.85506733863466);
  --color-warning-550: oklch(0.6092212277623706 0.16028363195639705 43.9261663440693);
  --color-warning-600: oklch(0.5833304314960684 0.16970496933956045 43.99726534950394);
  --color-warning-650: oklch(0.507009085738871 0.149901753081645 42.56483564766481);
  --color-warning-700: oklch(0.43068773998167365 0.13009853682372957 41.13240594582567);
  --color-warning-750: oklch(0.3543663942244763 0.11029532056581412 39.69997624398653);
  --color-warning-800: oklch(0.2780450484672789 0.09049210430789867 38.26754654214739);
  --color-warning-850: oklch(0.2293871649855051 0.07691828866171387 38.26754654214739);
  --color-warning-900: oklch(0.1807292815037313 0.06334447301552906 38.26754654214739);
  --color-warning-950: oklch(0.13207139802195747 0.04977065736934427 38.26754654214739);
  --color-danger-50: oklch(0.9688081012787089 0.02046893571008903 18.42817489942577);
  --color-danger-100: oklch(0.9376162025574177 0.034639737355535286 18.42817489942577);
  --color-danger-150: oklch(0.9064243038361265 0.048810539000981534 18.42817489942577);
  --color-danger-200: oklch(0.8752324051148354 0.06298134064642778 18.42817489942577);
  --color-danger-250: oklch(0.8133068732197568 0.08452871651344564 18.398482771634782);
  --color-danger-300: oklch(0.7513813413246784 0.1060760923804635 18.368790643843795);
  --color-danger-350: oklch(0.6894558094295998 0.12762346824748136 18.339098516052807);
  --color-danger-400: oklch(0.6275302775345213 0.1491708441144992 18.30940638826182);
  --color-danger-450: oklch(0.5961466901234453 0.1600594003984286 18.251840020312933);
  --color-danger-500: oklch(0.5647631027123693 0.17094795668235796 18.194273652364046);
  --color-danger-550: oklch(0.5333795153012932 0.1818365129662873 18.13670728441516);
  --color-danger-600: oklch(0.5019959278902173 0.19272506925021668 18.079140916466272);
  --color-danger-650: oklch(0.43761291207168196 0.16911051005163913 18.72632727121819);
  --color-danger-700: oklch(0.3732298962531466 0.1454959508530616 19.3735136259701);
  --color-danger-750: oklch(0.30884688043461134 0.12188139165448407 20.020699980722014);
  --color-danger-800: oklch(0.244463864616076 0.09826683245590653 20.66788633547393);
  --color-danger-850: oklch(0.2016826883082627 0.08352680758752055 20.66788633547393);
  --color-danger-900: oklch(0.15890151200044939 0.06878678271913458 20.66788633547393);
  --color-danger-950: oklch(0.1161203356926361 0.0540467578507486 20.66788633547393);
  --color-info-50: oklch(0.9472470414070251 0.01319114316017373 261.49146551846417);
  --color-info-100: oklch(0.8944940828140502 0.02232347304029401 261.49146551846417);
  --color-info-150: oklch(0.8417411242210754 0.03145580292041429 261.49146551846417);
  --color-info-200: oklch(0.7889881656281005 0.04058813280053457 261.49146551846417);
  --color-info-250: oklch(0.7327975333484203 0.05432284288357939 261.7505460408388);
  --color-info-300: oklch(0.6766069010687401 0.06805755296662422 262.0096265632134);
  --color-info-350: oklch(0.62041626878906 0.08179226304966905 262.268707085588);
  --color-info-400: oklch(0.5642256365093798 0.09552697313271387 262.52778760796264);
  --color-info-450: oklch(0.5358247299257868 0.10246599429811404 262.4837143651888);
  --color-info-500: oklch(0.5074238233421937 0.10940501546351422 262.4396411224149);
  --color-info-550: oklch(0.47902291675860065 0.1163440366289144 262.395567879641);
  --color-info-600: oklch(0.4506220101750076 0.12328305779431457 262.3514946368672);
  --color-info-650: oklch(0.3914472612047992 0.10948475002303204 262.3659717757216);
  --color-info-700: oklch(0.33227251223459087 0.09568644225174952 262.3804489145761);
  --color-info-750: oklch(0.2730977632643825 0.08188813448046699 262.3949260534306);
  --color-info-800: oklch(0.21392301429417415 0.06808982670918445 262.409403192285);
  --color-info-850: oklch(0.1764864867926937 0.057876352702806784 262.409403192285);
  --color-info-900: oklch(0.13904995929121322 0.047662878696429115 262.409403192285);
  --color-info-950: oklch(0.10161343178973273 0.03744940469005145 262.409403192285);
}
