@theme inline {
  --color-primary-lightest: hsl(216.77, 89.43%, 43.98%);
  --color-primary-lighter: hsl(216.29, 94.14%, 35%);
  --color-primary-light: hsl(216.37, 97.67%, 26.93%);
  --color-primary: hsl(217.2, 100%, 19.61%);
  --color-primary-dark: hsl(218.95, 100%, 14.93%);
  --color-primary-darker: hsl(222.31, 100%, 10.59%);
  --color-primary-darkest: hsl(228.65, 100%, 6.6%);
  --color-secondary-lightest: hsl(199.45, 100%, 97.34%);
  --color-secondary-lighter: hsl(199.38, 100%, 94.73%);
  --color-secondary-light: hsl(199.3, 95.85%, 92.09%);
  --color-secondary: hsl(199.2, 92.59%, 89.41%);
  --color-secondary-dark: hsl(198.5, 96.87%, 86.75%);
  --color-secondary-darker: hsl(197.76, 98.99%, 83.89%);
  --color-secondary-darkest: hsl(197, 99.87%, 80.82%);
  --color-tertiary-lightest: hsl(199.74, 99.83%, 67.57%);
  --color-tertiary-lighter: hsl(202.52, 100%, 57.55%);
  --color-tertiary-light: hsl(204.76, 100%, 46.97%);
  --color-tertiary: hsl(217.34, 98.31%, 53.53%);
  --color-tertiary-dark: hsl(216.77, 89.43%, 43.98%);
  --color-tertiary-darker: hsl(216.29, 94.14%, 35%);
  --color-tertiary-darkest: hsl(216.37, 97.67%, 26.93%);
  --color-accent-lightest: hsl(353.39, 86.96%, 78.18%);
  --color-accent-lighter: hsl(353.95, 78.84%, 69.69%);
  --color-accent-light: hsl(353.52, 73.17%, 60.13%);
  --color-accent: hsl(348.56, 82.2%, 46.27%);
  --color-accent-dark: hsl(347.26, 85.91%, 38.92%);
  --color-accent-darker: hsl(345.89, 91%, 31.81%);
  --color-accent-darkest: hsl(345, 95.87%, 25.31%);
  --color-success-lightest: hsl(114.97, 40.74%, 82.58%);
  --color-success-lighter: hsl(115.71, 34.7%, 66.15%);
  --color-success-light: hsl(117.04, 33.37%, 49.53%);
  --color-success: hsl(123.04, 100%, 27.06%);
  --color-success-dark: hsl(122.96, 100%, 19.1%);
  --color-success-darker: hsl(122.88, 100%, 12.74%);
  --color-success-darkest: hsl(122.85, 100%, 7.59%);
  --color-warning-lightest: hsl(17.74, 94.96%, 87.24%);
  --color-warning-lighter: hsl(17.94, 75.09%, 73.77%);
  --color-warning-light: hsl(18.45, 66.88%, 59.6%);
  --color-warning: hsl(23.88, 100%, 39.41%);
  --color-warning-dark: hsl(24.01, 100%, 29.25%);
  --color-warning-darker: hsl(22.64, 100%, 20.66%);
  --color-warning-darkest: hsl(18.45, 100%, 13.3%);
  --color-error-lightest: hsl(359.69, 92.79%, 88.44%);
  --color-error-lighter: hsl(358.32, 67.18%, 74.5%);
  --color-error-light: hsl(355.68, 57.14%, 59.46%);
  --color-error: hsl(346.63, 82.18%, 39.61%);
  --color-error-dark: hsl(344.75, 95.33%, 28.77%);
  --color-error-darker: hsl(344.52, 100%, 19.69%);
  --color-error-darkest: hsl(347.44, 100%, 12.27%);
  --color-info-lightest: hsl(218.63, 32.11%, 75.49%);
  --color-info-lighter: hsl(218.81, 34.57%, 63.16%);
  --color-info-light: hsl(219.17, 34.9%, 51.02%);
  --color-info: hsl(219.81, 53.77%, 39.02%);
  --color-info-dark: hsl(219.87, 57.48%, 29.6%);
  --color-info-darker: hsl(219.94, 64.01%, 20.66%);
  --color-info-darkest: hsl(220.32, 77.61%, 12.34%);
}
