@theme {
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-150: var(--primary-150);
  --color-primary-200: var(--primary-200);
  --color-primary-250: var(--primary-250);
  --color-primary-300: var(--primary-300);
  --color-primary-350: var(--primary-350);
  --color-primary-400: var(--primary-400);
  --color-primary-450: var(--primary-450);
  --color-primary-500: var(--primary-500);
  --color-primary-550: var(--primary-550);
  --color-primary-600: var(--primary-600);
  --color-primary-650: var(--primary-650);
  --color-primary-700: var(--primary-700);
  --color-primary-750: var(--primary-750);
  --color-primary-800: var(--primary-800);
  --color-primary-850: var(--primary-850);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-150: var(--accent-150);
  --color-accent-200: var(--accent-200);
  --color-accent-250: var(--accent-250);
  --color-accent-300: var(--accent-300);
  --color-accent-350: var(--accent-350);
  --color-accent-400: var(--accent-400);
  --color-accent-450: var(--accent-450);
  --color-accent-500: var(--accent-500);
  --color-accent-550: var(--accent-550);
  --color-accent-600: var(--accent-600);
  --color-accent-650: var(--accent-650);
  --color-accent-700: var(--accent-700);
  --color-accent-750: var(--accent-750);
  --color-accent-800: var(--accent-800);
  --color-accent-850: var(--accent-850);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-150: var(--grey-150);
  --color-grey-200: var(--grey-200);
  --color-grey-250: var(--grey-250);
  --color-grey-300: var(--grey-300);
  --color-grey-350: var(--grey-350);
  --color-grey-400: var(--grey-400);
  --color-grey-450: var(--grey-450);
  --color-grey-500: var(--grey-500);
  --color-grey-550: var(--grey-550);
  --color-grey-600: var(--grey-600);
  --color-grey-650: var(--grey-650);
  --color-grey-700: var(--grey-700);
  --color-grey-750: var(--grey-750);
  --color-grey-800: var(--grey-800);
  --color-grey-850: var(--grey-850);
  --color-grey-900: var(--grey-900);
  --color-grey-950: var(--grey-950);
}

:root {
  --primary-50: oklch(0.9810458528720043 0.012805069136752344 221.42319013002123);
  --primary-100: oklch(0.9625279382389682 0.022534655207547518 229.07380643851866);
  --primary-150: oklch(0.9451776821335959 0.03264631026982337 226.3042737678255);
  --primary-200: oklch(0.9266735852658876 0.04166334946534074 227.8907868021565);
  --primary-250: oklch(0.9112627496115374 0.05473696933509859 226.22377928641407);
  --primary-300: oklch(0.8963952331265624 0.06744735826185648 225.36464733070864);
  --primary-350: oklch(0.879079666523974 0.07972596528318426 224.961348406007);
  --primary-400: oklch(0.8640913982417882 0.09214269853070435 223.59516400834056);
  --primary-450: oklch(0.7930492652831616 0.12637746111848866 232.6711816010768);
  --primary-500: oklch(0.7195880620801897 0.16023166379842932 241.93424327331246);
  --primary-550: oklch(0.6471214825968208 0.19411412978289366 252.08525427344387);
  --primary-600: oklch(0.5751126556036337 0.22983365026527922 260.7563346888461);
  --primary-650: oklch(0.5044291032128326 0.200564571457437 260.40999839456214);
  --primary-700: oklch(0.4330120087217391 0.17276356367275486 260.1643969925104);
  --primary-750: oklch(0.36067462622669066 0.1462739669159472 260.2904390499326);
  --primary-800: oklch(0.28999868761296915 0.11729575493611505 259.8419383518128);
  --primary-850: oklch(0.23858359560067796 0.10010450348261876 260.50576368662877);
  --primary-900: oklch(0.19040284869222004 0.08071925841822118 260.6827656780439);
  --primary-950: oklch(0.13862274325776971 0.06273244519422139 261.69912692590003);
  --accent-50: oklch(0.984800875331734 0.007586987912049291 7.280361016689305);
  --accent-100: oklch(0.9718804402389815 0.014231777039079902 6.7000430003890425);
  --accent-150: oklch(0.9590286908070437 0.020978956179321922 6.606184823135082);
  --accent-200: oklch(0.9462519492861888 0.027827303127751637 6.653086434168972);
  --accent-250: oklch(0.922814842996206 0.040478571592763926 8.438396969514875);
  --accent-300: oklch(0.8978676831084794 0.05482847357038837 8.394610067426218);
  --accent-350: oklch(0.8751660398319107 0.06816380350718897 9.49443595021738);
  --accent-400: oklch(0.8508833039920639 0.08303006233611926 10.570682796495012);
  --accent-450: oklch(0.7790758978746718 0.11694357217413628 12.810782003719037);
  --accent-500: oklch(0.7072145521965011 0.1503782862219868 15.602977252589119);
  --accent-550: oklch(0.6347220248379237 0.1840872587837724 17.935377766617147);
  --accent-600: oklch(0.561955421439541 0.21750501143011675 20.33355954538788);
  --accent-650: oklch(0.5016106680762068 0.19525971881672055 19.649997542175665);
  --accent-700: oklch(0.4394408804757595 0.17235112297937613 18.724983321837986);
  --accent-750: oklch(0.3776016137369785 0.1490056604661841 17.70648767393693);
  --accent-800: oklch(0.3169673970073057 0.12688697857929349 17.13311722737997);
  --accent-850: oklch(0.2640095753865148 0.10576643762941583 17.96711533102747);
  --accent-900: oklch(0.21083215370277109 0.08453486540503877 18.77260628751044);
  --accent-950: oklch(0.1567952060073743 0.06293251123462008 19.60762363778026);
  --grey-50: oklch(0.9851036517304731 0 0);
  --grey-100: oklch(0.9701507725365187 0 0);
  --grey-150: oklch(0.9551400502551022 0 0);
  --grey-200: oklch(0.9400701157803539 0 0);
  --grey-250: oklch(0.9206523497270054 0.002558063661577229 228.78681801610878);
  --grey-300: oklch(0.9016241072205763 0.0035379885970067376 219.53573772407293);
  --grey-350: oklch(0.8820247834310861 0.006111163854367761 223.46425428199944);
  --grey-400: oklch(0.8630965218360825 0.007776262163602811 228.86889296971052);
  --grey-450: oklch(0.7536338911161403 0.008884873760344317 236.60530744483094);
  --grey-500: oklch(0.6452223564031062 0.00934832631012451 225.150437773465);
  --grey-550: oklch(0.5367036788509133 0.009766611093053518 225.19735819060344);
  --grey-600: oklch(0.42642678675922485 0.011202248372710806 232.6171989344644);
  --grey-650: oklch(0.3863649198406069 0.010450055082885976 236.83568726432512);
  --grey-700: oklch(0.3482037667119423 0.010711603345210428 236.89409737023573);
  --grey-750: oklch(0.30897800979866413 0.011017146317957 236.97265042607268);
  --grey-800: oklch(0.26941250914562653 0.010359980410804477 242.08386480750661);
  --grey-850: oklch(0.22357212291157627 0.008405078924718909 240.27439136197688);
  --grey-900: oklch(0.1752278892133013 0.006346445703353222 236.9817860143182);
  --grey-950: oklch(0.12654281961932162 0.006953212365870569 243.79232495350556);
}
